Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators, baggage-span-processor, baggage-log-record-processor, contrib-test-utils, host-metrics, id-generator-aws-xray, instrumentation-amqplib, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cassandra-driver, instrumentation-connect, instrumentation-cucumber, instrumentation-dataloader, instrumentation-dns, instrumentation-document-load, instrumentation-express, instrumentation-fastify, instrumentation-fs, instrumentation-generic-pool, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-knex, instrumentation-koa, instrumentation-long-task, instrumentation-lru-memoizer, instrumentation-memcached, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-net, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-router, instrumentation-runtime-node, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-user-interaction, instrumentation-winston, plugin-react-load, propagation-utils, propagator-aws-xray, propagator-aws-xray-lambda, propagator-instana, propagator-ot-trace, redis-common, resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-github, resource-detector-instana, sql-common, winston-transport

Path conditions:
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra-driver/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-openai: any of: packages/instrumentation-openai/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-winston: any of: packages/instrumentation-winston/
  plugin-react-load: any of: packages/plugin-react-load/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  redis-common: any of: packages/opentelemetry-redis-common/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-instana: any of: packages/resource-detector-instana/
  sql-common: any of: packages/opentelemetry-sql-common/
  winston-transport: any of: packages/winston-transport/

chore(instrumentation-aws-sdk): update semconv usage to ATTR_ exports (#3065)
  packages/instrumentation-aws-sdk/src/aws-sdk.ts
  packages/instrumentation-aws-sdk/src/semconv-obsolete.ts
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/dynamodb.ts
  packages/instrumentation-aws-sdk/src/services/lambda.ts
  packages/instrumentation-aws-sdk/src/services/sns.ts
  packages/instrumentation-aws-sdk/src/services/sqs.ts
  packages/instrumentation-aws-sdk/src/utils.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-sqs.test.ts
  packages/instrumentation-aws-sdk/test/lambda.test.ts
  packages/instrumentation-aws-sdk/test/secretsmanager.test.ts
  packages/instrumentation-aws-sdk/test/sns.test.ts
  packages/instrumentation-aws-sdk/test/stepfunctions.test.ts
Due: instrumentation-aws-sdk

chore: update deps and koa types to v3
  package-lock.json
  packages/instrumentation-koa/package.json
Due: instrumentation-koa

chore: Migrate update-otel-deps workflow to otelbot (#3040)
  .github/workflows/update-otel-deps.yaml
Due: none

fix: fix koa types dependencies
  package-lock.json
Due: none

ci: harden publish workflow by switching to OIDC
  .github/workflows/release-please.yml
Due: none

ci(release-please): use 18 in complile step, 24 when publishing
  .github/workflows/release-please.yml
Due: none

chore: update to `@types/koa@3.0.0` and add missing updates in `package-lock.json` (#3067)
  package-lock.json
  packages/instrumentation-koa/package.json
Due: instrumentation-koa

ci: harden publish workflow by switching to OIDC (#3068)
  .github/workflows/release-please.yml
Due: none

ci: use correct otelbot token secret
  .github/workflows/release-please.yml
Due: none

ci: use correct otelbot token secret (#3071)
  .github/workflows/release-please.yml
Due: none

chore(resource-detector-aws): update semconv usage to modern exports
  packages/resource-detector-aws/test/detectors/AwsBeanstalkDetector.test.ts
Due: resource-detector-aws

chore(instrumentation-undici): update semconv usage to modern exports
  package-lock.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-undici/src/enums/SemanticAttributes.ts
  packages/instrumentation-undici/src/undici.ts
  packages/instrumentation-undici/test/metrics.test.ts
  packages/instrumentation-undici/test/utils/assertSpan.ts
Due: instrumentation-undici

feat(instrumentation-document-load): support migration to stable HTTP semconv, v1.23.1
  package-lock.json
  packages/instrumentation-document-load/README.md
  packages/instrumentation-document-load/package.json
  packages/instrumentation-document-load/src/instrumentation.ts
  packages/instrumentation-document-load/src/types.ts
  packages/instrumentation-document-load/test/documentLoad.test.ts
Due: instrumentation-document-load

chore(sampler-aws-xray): update semconv usage to modern exports
  packages/sampler-aws-xray/test/remote-sampler.test.ts
Due: none

Q to answer before completing this PR
  packages/sampler-aws-xray/src/sampling-rule-applier.ts
Due: none

feat(instrumentation-aws-sdk): support migration to stable HTTP semconv
  packages/instrumentation-aws-sdk/README.md
  packages/instrumentation-aws-sdk/src/aws-sdk.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
  packages/instrumentation-aws-sdk/test/load-instrumentation.ts
Due: instrumentation-aws-sdk

minor correction on the semconv version that the current state is based on
  packages/instrumentation-document-load/README.md
Due: instrumentation-document-load

markdown markup fix
  packages/instrumentation-aws-sdk/README.md
Due: instrumentation-aws-sdk

chore: sync package-lock.json
  package-lock.json
Due: none

chore: fix linting
  packages/instrumentation-ioredis/src/instrumentation.ts
  packages/instrumentation-ioredis/src/utils.ts
Due: instrumentation-ioredis

chore(resource-detector-aws): update semconv usage to modern exports (#3073)
  packages/resource-detector-aws/test/detectors/AwsBeanstalkDetector.test.ts
Due: resource-detector-aws

chore(instrumentation-undici): update semconv usage to modern exports (#3074)
  package-lock.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-undici/src/enums/SemanticAttributes.ts
  packages/instrumentation-undici/src/undici.ts
  packages/instrumentation-undici/test/metrics.test.ts
  packages/instrumentation-undici/test/utils/assertSpan.ts
Due: instrumentation-undici

add connection2.db to gitignore
  packages/instrumentation-typeorm/.gitignore
Due: instrumentation-typeorm

test(undici): fix typo in a comment
  packages/instrumentation-undici/test/utils/assertSpan.ts
Due: instrumentation-undici

build: run tav in parallel
  package-lock.json
  package.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-bunyan/package.json
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-express/package.json
  packages/instrumentation-fastify/.tav.yml
  packages/instrumentation-fastify/package.json
  packages/instrumentation-graphql/package.json
  packages/instrumentation-hapi/package.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-koa/package.json
  packages/instrumentation-lru-memoizer/package.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-nestjs-core/package.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-oracledb/package.json
  packages/instrumentation-pg/package.json
  packages/instrumentation-pino/package.json
  packages/instrumentation-redis/package.json
  packages/instrumentation-restify/package.json
  packages/instrumentation-socket.io/package.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-winston/package.json
  patches/test-all-versions+6.1.0.patch
Due: instrumentation-amqplib, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cucumber, instrumentation-dataloader, instrumentation-express, instrumentation-fastify, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-koa, instrumentation-lru-memoizer, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-socket.io, instrumentation-tedious, instrumentation-undici, instrumentation-winston

add tests everywhere that ATTR_HTTP_STATUS_CODE was already being tested; this found a case I had missed
  packages/instrumentation-aws-sdk/src/aws-sdk.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-sqs.test.ts
Due: instrumentation-aws-sdk

feat(instrumentation-nestjs-core): support migration to stable HTTP semconv
  packages/instrumentation-nestjs-core/README.md
  packages/instrumentation-nestjs-core/src/instrumentation.ts
  packages/instrumentation-nestjs-core/test/index.test.ts
Due: instrumentation-nestjs-core

feat(instrumentation-aws-sdk): support migration to stable HTTP semconv (#3077)
  packages/instrumentation-aws-sdk/README.md
  packages/instrumentation-aws-sdk/src/aws-sdk.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-sqs.test.ts
  packages/instrumentation-aws-sdk/test/load-instrumentation.ts
Due: instrumentation-aws-sdk

fix: Enable union type support in @opentelemetry/instrumentation-graphql (#1506) (#2923)
  packages/instrumentation-graphql/src/utils.ts
  packages/instrumentation-graphql/test/graphql.test.ts
  packages/instrumentation-graphql/test/schema.ts
Due: instrumentation-graphql

feat(instrumentation-nestjs-core): support migration to stable HTTP semconv (#3080)
  packages/instrumentation-nestjs-core/README.md
  packages/instrumentation-nestjs-core/src/instrumentation.ts
  packages/instrumentation-nestjs-core/test/index.test.ts
Due: instrumentation-nestjs-core

ci: ensure EasyCLA check passes on release PR
  .github/workflows/release-please.yml
Due: none

test(instrumentation-mongoose): add Mongoose guard to skip tests (#3036)
  .github/workflows/test-all-versions.yml
  .github/workflows/test.yml
  packages/instrumentation-mongoose/test/mongoose-common.test.ts
  packages/instrumentation-mongoose/test/mongoose-v5-v6.test.ts
  packages/instrumentation-mongoose/test/mongoose-v7-v8.test.ts
  test/test-services.env
Due: instrumentation-mongoose

flat resolve spans
  packages/instrumentation-graphql/src/internal-types.ts
  packages/instrumentation-graphql/src/types.ts
  packages/instrumentation-graphql/src/utils.ts
  packages/instrumentation-graphql/test/graphql.test.ts
Due: instrumentation-graphql

drop faas.id usage because it effectively isn't used/needed, per feedback from Jonathan
  packages/sampler-aws-xray/src/sampling-rule-applier.ts
Due: none

chore: Trent can help review/merge renovate PRs
  renovate.json
Due: none

Update .github/workflows/release-please.yml
  .github/workflows/release-please.yml
Due: none

feat(instrumentation-document-load): support migration to stable HTTP semconv, v1.23.1 (#3075)
  package-lock.json
  packages/instrumentation-document-load/README.md
  packages/instrumentation-document-load/package.json
  packages/instrumentation-document-load/src/instrumentation.ts
  packages/instrumentation-document-load/src/types.ts
  packages/instrumentation-document-load/test/documentLoad.test.ts
Due: instrumentation-document-load
