Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: packages/instrumentation-winston/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-redis-4: any of: packages/instrumentation-redis-4/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  plugin-react-load: any of: packages/plugin-react-load/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  resource-detector-instana: any of: packages/resource-detector-instana/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/

chore: set proper commits in coverage job
  .github/workflows/test.yml
Due: none

chore: update codecov comment layout and set back coverage tresholds
  codecov.yml
Due: none

test: replace bitnami/cassandra imgage with cassandra
  .github/workflows/unit-test.yml
Due: none

test: replace bitnami/cassandra imgage with cassandra (#3000)
  .github/workflows/unit-test.yml
Due: none

chore: update flag upload script
  scripts/codecov-upload-flags.mjs
Due: none

chore: update upload flags script
  scripts/codecov-upload-flags.mjs
Due: none

test: fix mongdb tests for 6.19.0
  package-lock.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongodb/test/mongodb-v5-v6.test.ts
Due: instrumentation-mongodb

test(instr-mongodb): fix tests mongdb tests for 6.19.0 (#3003)
  package-lock.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongodb/test/mongodb-v5-v6.test.ts
Due: instrumentation-mongodb

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-configuration-propagators/CHANGELOG.md
  packages/auto-configuration-propagators/package.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/auto-instrumentations-web/CHANGELOG.md
  packages/auto-instrumentations-web/package.json
  packages/id-generator-aws-xray/CHANGELOG.md
  packages/id-generator-aws-xray/package.json
  packages/instrumentation-aws-lambda/CHANGELOG.md
  packages/instrumentation-aws-lambda/package.json
  packages/instrumentation-aws-sdk/CHANGELOG.md
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/CHANGELOG.md
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-long-task/CHANGELOG.md
  packages/instrumentation-long-task/package.json
  packages/instrumentation-openai/CHANGELOG.md
  packages/instrumentation-openai/package.json
  packages/instrumentation-pg/CHANGELOG.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-pino/CHANGELOG.md
  packages/instrumentation-pino/package.json
  packages/instrumentation-redis/CHANGELOG.md
  packages/instrumentation-redis/package.json
  packages/instrumentation-user-interaction/CHANGELOG.md
  packages/instrumentation-user-interaction/package.json
  packages/plugin-react-load/CHANGELOG.md
  packages/plugin-react-load/package.json
  packages/propagator-aws-xray-lambda/CHANGELOG.md
  packages/propagator-aws-xray-lambda/package.json
  packages/propagator-aws-xray/CHANGELOG.md
  packages/propagator-aws-xray/package.json
  packages/propagator-instana/CHANGELOG.md
  packages/propagator-instana/package.json
  packages/propagator-ot-trace/CHANGELOG.md
  packages/propagator-ot-trace/package.json
Due: instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-cucumber, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, propagator-aws-xray-lambda, propagator-aws-xray, auto-instrumentations-web, auto-instrumentations-node

chore: sync package-lock.json
  package-lock.json
Due: none

add original test-all-versions@6.2.0
  test-all-versions.js
Due: none

attempt running tav in parallel
  package-lock.json
  package.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-bunyan/package.json
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-express/package.json
  packages/instrumentation-fastify/.tav.yml
  packages/instrumentation-fastify/package.json
  packages/instrumentation-graphql/package.json
  packages/instrumentation-hapi/package.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-koa/package.json
  packages/instrumentation-lru-memoizer/package.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-nestjs-core/package.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-oracledb/package.json
  packages/instrumentation-pg/package.json
  packages/instrumentation-pino/package.json
  packages/instrumentation-redis/package.json
  packages/instrumentation-restify/package.json
  packages/instrumentation-socket.io/package.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-typeorm/package.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-winston/package.json
  test-all-versions.js
Due: instrumentation-winston, instrumentation-restify, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mongodb, instrumentation-koa, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-fastify, instrumentation-express, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib

test(undici): avoid flaky tests by implementing mock error endpoint
  packages/instrumentation-undici/test/fetch.test.ts
  packages/instrumentation-undici/test/metrics.test.ts
  packages/instrumentation-undici/test/undici.test.ts
  packages/instrumentation-undici/test/utils/assertSpan.ts
Due: instrumentation-undici

deps(instrumentation-openai): remove unused dependency @types/glob
  package-lock.json
  packages/instrumentation-openai/package.json
Due: none

fix: lint
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
  packages/resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
Due: resource-detector-aws

upgrade to eslint 9
  eslint.config.js
  package-lock.json
  package.json
Due: none

this is jsx
  examples/react-load/preact/src/components/Content.jsx
  examples/react-load/preact/src/components/Home.jsx
  examples/react-load/preact/src/components/app.jsx
Due: none

upgrade prettier
  .prettierignore
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.js
Due: none

explicit nx, fix lint command, bump deps
  eslint.config.mjs
  nx.json
  package-lock.json
  package.json
Due: none

test(mongoose): use unique collections
  packages/instrumentation-mongoose/test/asserts.ts
  packages/instrumentation-mongoose/test/user.ts
Due: instrumentation-mongoose

add connection2.db to gitignore
  packages/instrumentation-typeorm/.gitignore
Due: instrumentation-typeorm

chore: switch codecov action to upload script
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

chore(package): rename, remove exports
  package-lock.json
  package.json
  scripts/package.json
Due: none

mongodb test
  packages/instrumentation-mongodb/test/mongodb-v3.test.ts
  packages/instrumentation-mongodb/test/mongodb-v4.test.ts
  packages/instrumentation-mongodb/test/mongodb-v5-v6.test.ts
Due: instrumentation-mongodb

chore: pass sha and branch as parameters
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

test(gcp-detector): properly isolate GcpDetectorIntegration.test.ts
  packages/resource-detector-gcp/test/detectors/GcpDetectorIntegration.test.ts
  packages/resource-detector-gcp/test/detectors/fixtures/detect-with-http-instrumentation.mjs
Due: resource-detector-gcp

Delete the old GcpDetector.ts
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
Due: resource-detector-gcp

chore(resource-detector-gcp): replace punya with jsuereth as component owner
  .github/component_owners.yml
Due: none

Copy in files exactly from GoogleCloudPlatform/opentelemetry-operations-js
  packages/resource-detector-gcp/src/detectors/detector.ts
  packages/resource-detector-gcp/src/detectors/faas.ts
  packages/resource-detector-gcp/src/detectors/gae.ts
  packages/resource-detector-gcp/src/detectors/gce.ts
  packages/resource-detector-gcp/src/detectors/gke.ts
  packages/resource-detector-gcp/test/detectors/detector.test.ts
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gae.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Due: resource-detector-gcp

Rename and expose an instance to match repo style
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
Due: resource-detector-gcp

Rename test file to match repo style
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
Due: resource-detector-gcp

Delete old GcpDetector.test.ts
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
Due: resource-detector-gcp

fix imports
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gae.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Due: resource-detector-gcp

Update copyright headers to repo style while maintaining Google copyright
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
  packages/resource-detector-gcp/src/detectors/faas.ts
  packages/resource-detector-gcp/src/detectors/gae.ts
  packages/resource-detector-gcp/src/detectors/gce.ts
  packages/resource-detector-gcp/src/detectors/gke.ts
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gae.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Due: resource-detector-gcp

fix lint issues and format with `npm run lint:fix`
  packages/resource-detector-gcp/src/detectors/faas.ts
  packages/resource-detector-gcp/src/detectors/gce.ts
  packages/resource-detector-gcp/src/detectors/gke.ts
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Due: resource-detector-gcp

suppressTracing during resource detection to satisfy GcpDetectorIntegration.test.ts
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
Due: resource-detector-gcp
