Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: packages/instrumentation-winston/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-redis-4: any of: packages/instrumentation-redis-4/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  plugin-react-load: any of: packages/plugin-react-load/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  resource-detector-instana: any of: packages/resource-detector-instana/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/

Cleanup
  package-lock.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-openai/src/instrumentation.ts
  packages/instrumentation-openai/test/load-instrumentation.ts
  packages/instrumentation-openai/test/openai.test.ts
Due: none

git add
  packages/instrumentation-openai/.tav.yml
Due: none

README
  packages/instrumentation-openai/README.md
Due: none

Match expect version
  package-lock.json
  packages/instrumentation-openai/package.json
Due: none

manage to restore package-lock
  package-lock.json
Due: none

feat(kafkajs): instrument transaction send and sendBatch (#2939)
  packages/instrumentation-kafkajs/src/instrumentation.ts
  packages/instrumentation-kafkajs/test/kafkajs.test.ts
  packages/instrumentation-kafkajs/test/utils.ts
Due: instrumentation-kafkajs

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/instrumentation-kafkajs/CHANGELOG.md
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-mysql2/CHANGELOG.md
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-pg/CHANGELOG.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-runtime-node/CHANGELOG.md
  packages/instrumentation-runtime-node/package.json
  packages/instrumentation-winston/CHANGELOG.md
  packages/instrumentation-winston/package.json
  packages/winston-transport/CHANGELOG.md
  packages/winston-transport/package.json
Due: winston-transport, instrumentation-winston, instrumentation-pg, instrumentation-mysql2, instrumentation-runtime-node, instrumentation-kafkajs, auto-instrumentations-node

chore: sync package-lock.json
  package-lock.json
Due: none

feat(aws-sdk): add exception hook
  packages/instrumentation-aws-sdk/README.md
  packages/instrumentation-aws-sdk/src/aws-sdk.ts
  packages/instrumentation-aws-sdk/src/types.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
Due: instrumentation-aws-sdk

chore: update redis to v5.6.0
  package-lock.json
  packages/instrumentation-redis/package.json
Due: instrumentation-redis

chore(tsconfig): add workaround for node-redis type errors (#3009)
  packages/instrumentation-redis/tsconfig.json
Due: instrumentation-redis

feat(instrumentation-redis): support redis v5
  packages/instrumentation-redis/.tav.yml
  packages/instrumentation-redis/package.json
  packages/instrumentation-redis/src/redis.ts
  packages/instrumentation-redis/src/v2-v3/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/internal-types.ts
  packages/instrumentation-redis/src/v4-v5/utils.ts
  packages/instrumentation-redis/src/v4/utils.ts
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
  packages/instrumentation-redis/test/v4-v5/redis.test.ts
  packages/instrumentation-redis/test/v4-v5/utils.ts
  packages/instrumentation-redis/tsconfig.json
Due: instrumentation-redis

chore(instrumentation-redis): remove comment from tsconfig.json
  packages/instrumentation-redis/tsconfig.json
Due: instrumentation-redis

chore(redis): remove comments and update README
  packages/instrumentation-redis/README.md
  packages/instrumentation-redis/src/v2-v3/instrumentation.ts
Due: instrumentation-redis

chore(instrumentation-redis): fix lint
  packages/instrumentation-redis/test/v4-v5/utils.ts
Due: instrumentation-redis

fix(instrumentation-redis): change command for tav file
  packages/instrumentation-redis/.tav.yml
Due: instrumentation-redis

chore: rename coverage script
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-aws-lambda/package.json
  packages/instrumentation-bunyan/package.json
  packages/instrumentation-cassandra-driver/package.json
  packages/instrumentation-connect/package.json
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-dns/package.json
  packages/instrumentation-express/package.json
  packages/instrumentation-fastify/package.json
  packages/instrumentation-generic-pool/package.json
  packages/instrumentation-graphql/package.json
  packages/instrumentation-hapi/package.json
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-knex/package.json
  packages/instrumentation-koa/package.json
  packages/instrumentation-lru-memoizer/package.json
  packages/instrumentation-memcached/package.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mysql/package.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-nestjs-core/package.json
  packages/instrumentation-net/package.json
  packages/instrumentation-oracledb/package.json
  packages/instrumentation-pino/package.json
  packages/instrumentation-restify/package.json
  packages/instrumentation-router/package.json
  packages/instrumentation-runtime-node/package.json
  packages/instrumentation-socket.io/package.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-typeorm/package.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-winston/package.json
Due: instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-pino, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-bunyan, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-dataloader, instrumentation-amqplib

Add subscript to issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/instrumentation_request.md
  .github/ISSUE_TEMPLATE/ownership_request.md
Due: none

chore: add missign peer dependenciy for tav tests in pino
  packages/instrumentation-pino/.tav.yml
Due: instrumentation-pino

chore: add tav command to debug
  packages/instrumentation-pino/.tav.yml
Due: instrumentation-pino

chore(lint): switch from 'header' to 'license-header' eslint plugin
  eslint.config.js
  package-lock.json
  package.json
  packages/host-metrics/global.d.ts
  packages/instrumentation-kafkajs/src/propagator.ts
  packages/instrumentation-kafkajs/src/types.ts
Due: instrumentation-kafkajs

feat(instrumentation-aws-lamda): support streaming handlers
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/src/internal-types.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
  packages/instrumentation-aws-lambda/test/lambda-test/streaming.js
Due: instrumentation-aws-lambda

feat(aws-sdk): add exception hook (#2398)
  packages/instrumentation-aws-sdk/README.md
  packages/instrumentation-aws-sdk/src/aws-sdk.ts
  packages/instrumentation-aws-sdk/src/types.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
Due: instrumentation-aws-sdk

feat(opentelemetry-sampler-aws-xray): Add Rate Limiter and Sampling Targets Poller Logic (#2924)
  incubator/opentelemetry-sampler-aws-xray/src/aws-xray-sampling-client.ts
  incubator/opentelemetry-sampler-aws-xray/src/rate-limiter.ts
  incubator/opentelemetry-sampler-aws-xray/src/rate-limiting-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/src/remote-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/src/rule-cache.ts
  incubator/opentelemetry-sampler-aws-xray/src/sampling-rule-applier.ts
  incubator/opentelemetry-sampler-aws-xray/test/rate-limiter.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/rate-limiting-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/remote-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/rule-cache.test.ts
Due: none

fix(instrumentation-cucumber): switch from deprecated attributes to stable (#2959)
  packages/instrumentation-cucumber/README.md
  packages/instrumentation-cucumber/src/instrumentation.ts
  packages/instrumentation-cucumber/test/cucumber.test.ts
Due: instrumentation-cucumber

Owner
  .github/component_owners.yml
Due: none

feat(redis): support migration between legacy and stable semantic conventions
  packages/instrumentation-redis/README.md
  packages/instrumentation-redis/src/v2-v3/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/utils.ts
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
  packages/instrumentation-redis/test/v4-v5/redis.test.ts
Due: instrumentation-redis

docs(redis): update README with semantic conventions info
  packages/instrumentation-redis/README.md
Due: instrumentation-redis

feat: add Bedrock InvokeModelWithResponseStream instrumentation
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
  packages/instrumentation-aws-sdk/test/bedrock-runtime.test.ts
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-amazon-nova-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-amazon-titan-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-claude-model-attributes-to-span.json
  plugins/node/instrumentation-cucumber/test/current.feature
Due: instrumentation-aws-sdk

refactor: unify InvokeModel pre-span hooks into a single function with isStream flag
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
Due: instrumentation-aws-sdk

Moved static functions out of the method
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
Due: instrumentation-aws-sdk

added instrumentation for Bedrock Response Stream of llama, cohere and mistral
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
Due: instrumentation-aws-sdk

fix(instrumentation-dataloader): support ESM imports of dataloader module
  package-lock.json
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-dataloader/src/instrumentation.ts
  packages/instrumentation-dataloader/test/dataloader.test.ts
  packages/instrumentation-dataloader/test/fixtures/use-dataloader-default-import.mjs
Due: instrumentation-dataloader

added tests for cohere, cohere-r and mistral
  packages/instrumentation-aws-sdk/test/bedrock-runtime.test.ts
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-cohere-command-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-cohere-command-r-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-mistral-ai-model-attributes-to-span.json
Due: instrumentation-aws-sdk

fix(instrumentation-dataloader): code review feedback
  packages/instrumentation-dataloader/src/instrumentation.ts
Due: instrumentation-dataloader

fix(instrumentation-dataloader): support ESM imports of dataloader module (#2973)
  package-lock.json
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-dataloader/src/instrumentation.ts
  packages/instrumentation-dataloader/test/dataloader.test.ts
  packages/instrumentation-dataloader/test/fixtures/use-dataloader-default-import.mjs
Due: instrumentation-dataloader

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/instrumentation-aws-sdk/CHANGELOG.md
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/CHANGELOG.md
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-dataloader/CHANGELOG.md
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-kafkajs/CHANGELOG.md
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-mysql2/CHANGELOG.md
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-pg/CHANGELOG.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-runtime-node/CHANGELOG.md
  packages/instrumentation-runtime-node/package.json
  packages/instrumentation-winston/CHANGELOG.md
  packages/instrumentation-winston/package.json
  packages/winston-transport/CHANGELOG.md
  packages/winston-transport/package.json
Due: winston-transport, instrumentation-winston, instrumentation-pg, instrumentation-mysql2, instrumentation-aws-sdk, instrumentation-runtime-node, instrumentation-kafkajs, instrumentation-dataloader, instrumentation-cucumber, auto-instrumentations-node

Add Semantic Convention Support for Amazon Secrets Manager Attributes
  package-lock.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  packages/instrumentation-aws-sdk/src/services/secretsmanager.ts
  packages/instrumentation-aws-sdk/test/secretsmanager.test.ts
Due: instrumentation-aws-sdk

feat: Apply suggestions from code review
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
Due: resource-detector-aws
