Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: packages/instrumentation-winston/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-redis-4: any of: packages/instrumentation-redis-4/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  plugin-react-load: any of: packages/plugin-react-load/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  resource-detector-instana: any of: packages/resource-detector-instana/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/

chore: remove unused test utils for docker
  packages/contrib-test-utils/src/index.ts
  packages/contrib-test-utils/src/test-utils.ts
  packages/instrumentation-cassandra-driver/test/cassandra-driver.test.ts
  packages/instrumentation-memcached/test/index.test.ts
  packages/instrumentation-pg/test/pg.test.ts
  packages/instrumentation-redis/test/v4/redis.test.ts
Due: instrumentation-redis, instrumentation-pg, instrumentation-memcached

chore: update cassandra instr scripts
  packages/instrumentation-cassandra-driver/package.json
Due: none

Update .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

change mask default to false
  packages/instrumentation-mysql2/README.md
  packages/instrumentation-mysql2/src/types.ts
  packages/instrumentation-mysql2/src/utils.ts
  packages/instrumentation-mysql2/test/mysql.test.ts
Due: instrumentation-mysql2

Update packages/instrumentation-pg/test/pg-pool.test.ts
  packages/instrumentation-pg/test/pg-pool.test.ts
Due: instrumentation-pg

Update packages/instrumentation-pg/README.md
  packages/instrumentation-pg/README.md
Due: instrumentation-pg

fix(instrumentation-mysql2)!: Missing masking of sql queries (#2732)
  packages/instrumentation-mysql2/README.md
  packages/instrumentation-mysql2/src/instrumentation.ts
  packages/instrumentation-mysql2/src/types.ts
  packages/instrumentation-mysql2/src/utils.ts
  packages/instrumentation-mysql2/test/mysql.test.ts
Due: instrumentation-mysql2

update variable
  packages/instrumentation-pg/src/utils.ts
  packages/instrumentation-pg/test/pg-pool.test.ts
Due: instrumentation-pg

lint
  packages/instrumentation-graphql/src/utils.ts
Due: instrumentation-graphql

feat(instrumentation-pg): update to stable semantic conventions with db-migration support (#2881)
  package-lock.json
  packages/instrumentation-pg/README.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-pg/src/instrumentation.ts
  packages/instrumentation-pg/src/internal-types.ts
  packages/instrumentation-pg/src/semconv.ts
  packages/instrumentation-pg/src/utils.ts
  packages/instrumentation-pg/test/pg-pool.test.ts
  packages/instrumentation-pg/test/pg.test.ts
  packages/instrumentation-pg/test/utils.test.ts
Due: instrumentation-pg

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/instrumentation-mysql2/CHANGELOG.md
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-pg/CHANGELOG.md
  packages/instrumentation-pg/package.json
Due: instrumentation-pg, instrumentation-mysql2, auto-instrumentations-node

chore: sync package-lock.json
  package-lock.json
Due: none

docs(instrumentation-winston): Clarify the duplicate logging workaround (#2831)
  packages/instrumentation-winston/README.md
Due: instrumentation-winston

fix(detector-aws): extract full container ID from ECS Fargate cgroup paths
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
  packages/resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
Due: resource-detector-aws

feat(instrumentation-kafkajs): instrument producer.transaction() and wrap transaction send and sendBatch methods
  packages/instrumentation-kafkajs/src/instrumentation.ts
Due: instrumentation-kafkajs

test: add transaction-related tests
  packages/instrumentation-kafkajs/test/kafkajs.test.ts
  packages/instrumentation-kafkajs/test/utils.ts
Due: instrumentation-kafkajs

feat(kafkajs-instrumentation): propagate send/sendBatch errors to transaction span, rename assert helper, and improve test structure
  packages/instrumentation-kafkajs/src/instrumentation.ts
  packages/instrumentation-kafkajs/test/kafkajs.test.ts
  packages/instrumentation-kafkajs/test/utils.ts
Due: instrumentation-kafkajs

chore(lint): apply lint fixes to kafkajs.test.ts
  packages/instrumentation-kafkajs/test/kafkajs.test.ts
Due: instrumentation-kafkajs

chore(instrumentation-mysql): use the intended _updateMetricInstruments
  packages/instrumentation-mysql/src/instrumentation.ts
Due: instrumentation-mysql

refactor(instrumentation-kafkajs): remove bind and rename patch methods for transaction methods
  packages/instrumentation-kafkajs/src/instrumentation.ts
Due: instrumentation-kafkajs

ci: add minimum token permissions for all github workflow files (#2922)
  .github/workflows/close-stale.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/component-owners.yml
  .github/workflows/label-prs.yml
  .github/workflows/lint.yml
  .github/workflows/peer-api.yaml
  .github/workflows/pr-title.yml
  .github/workflows/release-please-validate.yaml
  .github/workflows/release-please.yml
  .github/workflows/test-all-versions.pr.yml
  .github/workflows/test-all-versions.push.yml
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  .github/workflows/update-otel-deps.yaml
Due: none

disable 'no-unused-vars' for *test* JS files, as is already the case for test .ts files
  eslint.config.js
Due: none

feat(instrumentation-openai): add instrumentation of openai SDK
  package-lock.json
  packages/instrumentation-openai/.eslintignore
  packages/instrumentation-openai/.eslintrc.js
  packages/instrumentation-openai/LICENSE
  packages/instrumentation-openai/README.md
  packages/instrumentation-openai/package.json
  packages/instrumentation-openai/src/index.ts
  packages/instrumentation-openai/src/instrumentation.ts
  packages/instrumentation-openai/src/internal-types.ts
  packages/instrumentation-openai/src/semconv.ts
  packages/instrumentation-openai/src/types.ts
  packages/instrumentation-openai/src/utils.ts
  packages/instrumentation-openai/test/load-instrumentation.ts
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-adds-genai-conventions-with-system-message.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-adds-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-handles-connection-errors-without-crashing.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-records-all-the-client-options.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-records-tool-calls.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-with-content-capture-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-with-content-capture-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-with-content-capture-records-tool-calls.json
  packages/instrumentation-openai/test/mock-responses/openai-embeddings-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-does-not-misbehave-with-double-iteration.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-does-not-prevent-usage-of-abort.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-does-not-prevent-usage-of-tee.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-records-tool-calls.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-records-usage.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-with-content-capture-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-with-content-capture-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-with-content-capture-records-tool-calls.json
  packages/instrumentation-openai/test/openai.test.ts
  packages/instrumentation-openai/tsconfig.json
  release-please-config.json
Due: none

Fix manifest
  .release-please-manifest.json
  packages/instrumentation-openai/package.json
Due: none

Fix types
  package-lock.json
  packages/instrumentation-openai/src/index.ts
  packages/instrumentation-openai/src/instrumentation.ts
Due: none

version:update
  nx.json
  packages/instrumentation-openai/src/instrumentation.ts
Due: none

chore(instrumentation-mysql): use the intended _updateMetricInstruments (#2938)
  packages/instrumentation-mysql/src/instrumentation.ts
Due: instrumentation-mysql

Add permissions that were missed on the first pass
  .github/workflows/release-please.yml
  .github/workflows/update-otel-deps.yaml
Due: none

chore: add permissions that were missed on the first pass (#2945)
  .github/workflows/release-please.yml
  .github/workflows/update-otel-deps.yaml
Due: none

fix(instrumentation-runtime-node): fix .isEnabled()
  packages/instrumentation-runtime-node/src/instrumentation.ts
  packages/instrumentation-runtime-node/test/instrumentation.test.ts
Due: instrumentation-runtime-node

Cleanups
  nx.json
  package-lock.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-openai/src/instrumentation.ts
Due: none

fix: ensure environment variables take precedence over programmatic config
  packages/auto-instrumentations-node/src/utils.ts
Due: auto-instrumentations-node
