Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators, baggage-span-processor, baggage-log-record-processor, contrib-test-utils, host-metrics, id-generator-aws-xray, instrumentation-amqplib, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cassandra-driver, instrumentation-connect, instrumentation-cucumber, instrumentation-dataloader, instrumentation-dns, instrumentation-document-load, instrumentation-express, instrumentation-fastify, instrumentation-fs, instrumentation-generic-pool, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-knex, instrumentation-koa, instrumentation-long-task, instrumentation-lru-memoizer, instrumentation-memcached, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-net, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-router, instrumentation-runtime-node, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-user-interaction, instrumentation-winston, plugin-react-load, propagation-utils, propagator-aws-xray, propagator-aws-xray-lambda, propagator-instana, propagator-ot-trace, redis-common, resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-github, resource-detector-instana, sql-common, winston-transport

chore: Trent can help review/merge renovate PRs (#3084)
  renovate.json
Due: none

ci: ensure EasyCLA check passes on release PR (#3081)
  .github/workflows/release-please.yml
Due: none

ci(test): use environment variables over shell evaluation when reporting coverage
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

ci(test): use environment variables over shell evaluation when reporting coverage (#3088)
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

ci(release-please): use fetch-depth 0 before amending commit
  .github/workflows/release-please.yml
Due: none

ci(release-please): use fetch-depth 0 before amending commit (#3090)
  .github/workflows/release-please.yml
Due: none

chore(sampler-aws-xray): update semconv usage to modern exports (#3076)
  packages/sampler-aws-xray/src/sampling-rule-applier.ts
  packages/sampler-aws-xray/test/remote-sampler.test.ts
Due: none

feat(instrumentation-aws-lambda): support streaming handlers (#2970)
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/src/internal-types.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
  packages/instrumentation-aws-lambda/test/lambda-test/streaming.js
Due: instrumentation-aws-lambda

Add traceparent to CONTEXT_INFO
  packages/instrumentation-tedious/src/instrumentation.ts
  packages/instrumentation-tedious/src/types.ts
  packages/instrumentation-tedious/test/api.ts
  packages/instrumentation-tedious/test/instrumentation.test.ts
Due: instrumentation-tedious

test(ioreids): disable client info for 5.8.0 and up
  package-lock.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-ioredis/test/ioredis.test.ts
Due: instrumentation-ioredis

fixup! test(ioreids): disable client info for 5.8.0 and up
  packages/instrumentation-ioredis/test/ioredis.test.ts
Due: instrumentation-ioredis

test(ioreids): disable client info for 5.8.0 and up (#3094)
  package-lock.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-ioredis/test/ioredis.test.ts
Due: instrumentation-ioredis

replaced scrubStatment with approach suggested by @masontikhonov
  packages/instrumentation-mongodb/src/instrumentation.ts
  packages/instrumentation-mongodb/src/types.ts
Due: instrumentation-mongodb

added test
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongodb/test/unit/instrumentation.test.ts
Due: instrumentation-mongodb

ci(release-please): use releases_created instead of release_created
  .github/workflows/release-please.yml
Due: none

ci(release-please): use releases_created instead of release_created (#3096)
  .github/workflows/release-please.yml
Due: none

fix for review comment https://github.com/open-telemetry/opentelemetry-js-contrib/pull/3095\#discussion_r2376120993
  packages/instrumentation-mongodb/src/instrumentation.ts
Due: instrumentation-mongodb

fix: update lint-readme.js script to use updated npm badge link
  scripts/lint-readme.js
Due: none

Apply suggestion from @maryliag
  packages/sql-common/README.md
Due: none

Apply suggestion from @maryliag
  packages/sampler-aws-xray/README.md
Due: none

Apply suggestion from @maryliag
  packages/redis-common/README.md
Due: none

fix(resource-detector-alibaba-cloud): use badges in README.md
  packages/resource-detector-alibaba-cloud/README.md
Due: resource-detector-alibaba-cloud

fix: lint
  packages/resource-detector-alibaba-cloud/README.md
  packages/resource-detector-github/README.md
  packages/resource-detector-instana/README.md
Due: resource-detector-alibaba-cloud, resource-detector-github, resource-detector-instana

chore: release main
  package-lock.json
  packages/instrumentation-user-interaction/package.json
  packages/instrumentation-winston/CHANGELOG.md
  packages/instrumentation-winston/package.json
  packages/plugin-react-load/CHANGELOG.md
  packages/plugin-react-load/package.json
  packages/propagation-utils/CHANGELOG.md
  packages/propagation-utils/package.json
  packages/propagator-aws-xray-lambda/CHANGELOG.md
  packages/propagator-aws-xray-lambda/package.json
  packages/propagator-aws-xray/CHANGELOG.md
  packages/propagator-aws-xray/package.json
  packages/propagator-instana/CHANGELOG.md
  packages/propagator-instana/package.json
  packages/propagator-ot-trace/CHANGELOG.md
  packages/propagator-ot-trace/package.json
  packages/redis-common/CHANGELOG.md
  packages/redis-common/package.json
  packages/resource-detector-alibaba-cloud/CHANGELOG.md
  packages/resource-detector-alibaba-cloud/package.json
  packages/resource-detector-aws/CHANGELOG.md
  packages/resource-detector-aws/package.json
  packages/resource-detector-azure/CHANGELOG.md
  packages/resource-detector-azure/package.json
  packages/resource-detector-container/CHANGELOG.md
  packages/resource-detector-container/package.json
  packages/resource-detector-gcp/CHANGELOG.md
  packages/resource-detector-gcp/package.json
  packages/resource-detector-github/CHANGELOG.md
  packages/resource-detector-github/package.json
  packages/resource-detector-instana/CHANGELOG.md
  packages/resource-detector-instana/package.json
  packages/sampler-aws-xray/CHANGELOG.md
  packages/sampler-aws-xray/package.json
  packages/sql-common/CHANGELOG.md
  packages/sql-common/package.json
  packages/winston-transport/CHANGELOG.md
  packages/winston-transport/package.json
Due: instrumentation-user-interaction, instrumentation-winston, plugin-react-load, propagator-aws-xray, propagator-aws-xray-lambda, resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-github, resource-detector-instana, winston-transport

ci(release-please): pass EasyCLA, correct if-logic for releases_created var
  .github/workflows/release-please.yml
Due: none

Update .github/workflows/release-please.yml
  .github/workflows/release-please.yml
Due: none

ci(release-please): pass EasyCLA, correct if-logic for releases_created var (#3103)
  .github/workflows/release-please.yml
Due: none

ci(release-please): ensure main exists when rebasing
  .github/workflows/release-please.yml
Due: none

ci(release-please): avoid re-writing commits on release PR
  .github/workflows/release-please.yml
Due: none

ci(release-please): ensure main exists when rebasing (#3104)
  .github/workflows/release-please.yml
Due: none

chore(db-attributes): update semconv constants to match experimental values (#2)
  package-lock.json
  packages/instrumentation-oracledb/package.json
  packages/instrumentation-oracledb/src/OracleTelemetryTraceHandler.ts
  packages/instrumentation-oracledb/src/semconv.ts
  packages/instrumentation-oracledb/test/oracle.test.ts
Due: instrumentation-oracledb

ci(release-please): avoid re-writing commits on release PR (#3105)
  .github/workflows/release-please.yml
Due: none

chore: sync package-lock.json 'dependencies' key
  package-lock.json
Due: none

Path conditions:
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra-driver/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-openai: any of: packages/instrumentation-openai/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-winston: any of: packages/instrumentation-winston/
  plugin-react-load: any of: packages/plugin-react-load/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  redis-common: any of: packages/opentelemetry-redis-common/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-instana: any of: packages/resource-detector-instana/
  sql-common: any of: packages/opentelemetry-sql-common/
  winston-transport: any of: packages/winston-transport/
