Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators, baggage-span-processor, baggage-log-record-processor, contrib-test-utils, host-metrics, id-generator-aws-xray, instrumentation-amqplib, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cassandra-driver, instrumentation-connect, instrumentation-cucumber, instrumentation-dataloader, instrumentation-dns, instrumentation-document-load, instrumentation-express, instrumentation-fastify, instrumentation-fs, instrumentation-generic-pool, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-knex, instrumentation-koa, instrumentation-long-task, instrumentation-lru-memoizer, instrumentation-memcached, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-net, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-router, instrumentation-runtime-node, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-user-interaction, instrumentation-winston, plugin-react-load, propagation-utils, propagator-aws-xray, propagator-aws-xray-lambda, propagator-instana, propagator-ot-trace, redis-common, resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-github, resource-detector-instana, sql-common, winston-transport

Path conditions:
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra-driver/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-openai: any of: packages/instrumentation-openai/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-winston: any of: packages/instrumentation-winston/
  plugin-react-load: any of: packages/plugin-react-load/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  redis-common: any of: packages/opentelemetry-redis-common/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-instana: any of: packages/resource-detector-instana/
  sql-common: any of: packages/opentelemetry-sql-common/
  winston-transport: any of: packages/winston-transport/

Delete the old GcpDetector.ts
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
Due: resource-detector-gcp

fix lint issues and format with `npm run lint:fix`
  packages/resource-detector-gcp/src/detectors/faas.ts
  packages/resource-detector-gcp/src/detectors/gce.ts
  packages/resource-detector-gcp/src/detectors/gke.ts
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Due: resource-detector-gcp

update devDependencies
  package-lock.json
  packages/resource-detector-gcp/package.json
Due: resource-detector-gcp

chore: change param order to support push event
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

chore: sha and branch are null in push event
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

chore: fix imports for ESM
  packages/instrumentation-pg/test/pg-pool.test.ts
  packages/instrumentation-pg/test/pg.test.ts
  packages/instrumentation-pg/test/utils.test.ts
Due: instrumentation-pg

chore: do not clean tests results
  packages/instrumentation-pg/package.json
Due: instrumentation-pg

chore: update mocha command
  packages/instrumentation-pg/package.json
Due: instrumentation-pg

upgrade prettier
  .prettierignore
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.js
Due: none

this is jsx
  examples/react-load/preact/src/components/Content.jsx
  examples/react-load/preact/src/components/Home.jsx
  examples/react-load/preact/src/components/app.jsx
Due: none

upgrade to eslint 9
  eslint.config.js
  package-lock.json
  package.json
Due: none

explicit nx, fix lint command, bump deps
  eslint.config.mjs
  nx.json
  package-lock.json
  package.json
Due: none

fix: fix test-all-versions script
  package.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-pg/package.json
  packages/instrumentation-redis/package.json
Due: instrumentation-aws-sdk, instrumentation-cucumber, instrumentation-ioredis, instrumentation-mongoose, instrumentation-pg, instrumentation-redis

chore: leftovers in test workflow
  .github/workflows/test.yml
Due: none

chore: add workflow for surveys of non-members
  .github/workflows/survey-on-merged-pr.yml
Due: none

pretty package.json, lint prettier config
  .prettierignore
  prettier.config.js
Due: none

fix bad merge
  package-lock.json
  packages/instrumentation-aws-lambda/package.json
  packages/instrumentation-dns/package.json
  packages/instrumentation-express/package.json
  packages/instrumentation-generic-pool/package.json
  packages/instrumentation-hapi/package.json
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-pino/package.json
  packages/instrumentation-router/package.json
  packages/instrumentation-socket.io/package.json
Due: instrumentation-aws-lambda, instrumentation-dns, instrumentation-express, instrumentation-generic-pool, instrumentation-hapi, instrumentation-kafkajs, instrumentation-mongodb, instrumentation-pino, instrumentation-router, instrumentation-socket.io

chore: add mssing flags to avoid cleanup of coverage
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-redis/package.json
  packages/instrumentation-winston/package.json
Due: instrumentation-aws-sdk, instrumentation-redis, instrumentation-winston

lint dns test
  packages/instrumentation-dns/test/functionals/dns-disable.test.ts
Due: instrumentation-dns

test: fix test-all-versions script (#3017)
  .github/workflows/test.yml
  package.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-pg/package.json
  packages/instrumentation-redis/package.json
  packages/instrumentation-winston/package.json
Due: instrumentation-aws-sdk, instrumentation-cucumber, instrumentation-ioredis, instrumentation-mongoose, instrumentation-pg, instrumentation-redis, instrumentation-winston

test: attempting to debug test.yml failre
  packages/instrumentation-redis/src/redis.ts
Due: instrumentation-redis

use latest npm for TAV
  .github/workflows/test.yml
Due: none

test(instrumentation-ioredis): add Redis Cluster instrumentation tests
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-ioredis/test/ioredis.test.ts
  test/docker-compose.yaml
Due: instrumentation-ioredis

fix(instrumentation-ioredis): add instrumentCluster config option to default settings
  packages/instrumentation-ioredis/src/instrumentation.ts
Due: instrumentation-ioredis

docs(instrumentation-ioredis): document Redis Cluster support and attributes
  packages/instrumentation-ioredis/README.md
Due: instrumentation-ioredis

chore: fix undici tests
  packages/instrumentation-undici/test/fetch.test.ts
  packages/instrumentation-undici/test/metrics.test.ts
  packages/instrumentation-undici/test/undici.test.ts
Due: instrumentation-undici

test(mongodb): close the client to avoid affecting other tests
  packages/instrumentation-mongodb/test/mongodb-v3.test.ts
Due: instrumentation-mongodb

test(mongoose): use unique collections
  packages/instrumentation-mongoose/test/asserts.ts
  packages/instrumentation-mongoose/test/user.ts
Due: instrumentation-mongoose

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/resource-detector-aws/CHANGELOG.md
  packages/resource-detector-aws/package.json
Due: auto-instrumentations-node, resource-detector-aws

chore: sync package-lock.json
  package-lock.json
Due: none

test(mongodb): close the client to avoid affecting other tests (#3021)
  packages/instrumentation-mongodb/test/mongodb-v3.test.ts
Due: instrumentation-mongodb

test(instrumentation-mongoose): use unique collections (#3022)
  packages/instrumentation-mongoose/test/asserts.ts
  packages/instrumentation-mongoose/test/user.ts
Due: instrumentation-mongoose

chore: add workflow for surveys of non-members (#3018)
  .github/workflows/survey-on-merged-pr.yml
Due: none

feat(instrumentation-langchain): skeleton PR + dependencies, except actually updating the package-lock.json.
  .github/component_owners.yml
  packages/instrumentation-langchain/.eslintignore
  packages/instrumentation-langchain/.eslintrc.js
  packages/instrumentation-langchain/README.md
  packages/instrumentation-langchain/jest.config.js
  packages/instrumentation-langchain/package.json
  packages/instrumentation-langchain/src/callback-handler.ts
  packages/instrumentation-langchain/src/index.ts
  packages/instrumentation-langchain/src/instrumentation-utils.ts
  packages/instrumentation-langchain/src/instrumentation.ts
  packages/instrumentation-langchain/src/span-attributes.ts
  packages/instrumentation-langchain/tests/callback-handler.test.ts
  packages/instrumentation-langchain/tsconfig.esm.json
  packages/instrumentation-langchain/tsconfig.esnext.json
  packages/instrumentation-langchain/tsconfig.json
  packages/instrumentation-langchain/tsconfig.tsbuildinfo
  release-please-config.json
Due: none

chore(instrumentation-pg): skip test if db not running
  packages/instrumentation-pg/test/pg-pool.test.ts
  packages/instrumentation-pg/test/pg.test.ts
Due: instrumentation-pg
