Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: packages/instrumentation-winston/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-redis-4: any of: packages/instrumentation-redis-4/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  plugin-react-load: any of: packages/plugin-react-load/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  resource-detector-instana: any of: packages/resource-detector-instana/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/

skip the new test case if running on too-old of a pino; update devDep to latest pino@8
  package-lock.json
  packages/instrumentation-pino/package.json
  packages/instrumentation-pino/test/pino.test.ts
Due: instrumentation-pino

test(instrumentation-restify): skip testing with Node.js 24 and later
  packages/instrumentation-restify/.tav.yml
  packages/instrumentation-restify/package.json
  scripts/skip-test-if.js
Due: instrumentation-restify

fix(instrumentation-pino): Propagate all args to `mixin` (#2983)
  package-lock.json
  packages/instrumentation-pino/package.json
  packages/instrumentation-pino/src/instrumentation.ts
  packages/instrumentation-pino/test/pino.test.ts
Due: instrumentation-pino

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/instrumentation-cucumber/CHANGELOG.md
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-pino/CHANGELOG.md
  packages/instrumentation-pino/package.json
Due: instrumentation-pino, instrumentation-cucumber, auto-instrumentations-node

chore: sync package-lock.json
  package-lock.json
Due: none

fix test-all-versions for instr-tedious by skipping testing tedious@1 with Node.js 24. tedious@1 cannot run with Node.js 24
  packages/instrumentation-tedious/.tav.yml
Due: instrumentation-tedious

Update root level lockfile
  package-lock.json
Due: none

Look at first record eventSource in aws lambda event Records array to determine if it is an sqs event
  packages/instrumentation-aws-lambda/src/instrumentation.ts
Due: instrumentation-aws-lambda

Remove span attributes that are no longer part of the semantic conventions spec for messaging spans
  packages/instrumentation-aws-lambda/src/instrumentation.ts
Due: instrumentation-aws-lambda

Test sqsContextGetter keys method
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Due: instrumentation-aws-lambda

test(redis): add semconvStability tests and override setConfig
  packages/instrumentation-redis/src/types.ts
  packages/instrumentation-redis/src/v2-v3/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/instrumentation.ts
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
  packages/instrumentation-redis/test/v4-v5/redis.test.ts
Due: instrumentation-redis

chore: pin our selected typescript version (5.0.4) to the top-level node_modules install to reduce duplication (#2988)
  package-lock.json
  package.json
Due: none

chore(instrumentation-fastify): drop unused devDep @types/express (#2962)
  package-lock.json
  packages/instrumentation-fastify/package.json
Due: instrumentation-fastify

test(redis-v2-v3): add semconv stability config tests
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
Due: instrumentation-redis

chore: remove last references to removed 'propagator-grpc-census-binary' package (#2987)
  .github/component-label-map.yml
  examples/grpc-census-prop/.eslintrc.js
  examples/grpc-census-prop/.npmrc
  examples/grpc-census-prop/README.md
  examples/grpc-census-prop/capitalize_client.js
  examples/grpc-census-prop/capitalize_server.js
  examples/grpc-census-prop/combination2.md
  examples/grpc-census-prop/combination4.md
  examples/grpc-census-prop/package.json
  examples/grpc-census-prop/protos/defs.proto
  examples/grpc-census-prop/tracer.js
  examples/grpc-census-prop/tracer_census.js
  propagators/README.md
Due: none

chore(redis): test commit
  packages/instrumentation-redis/src/redis.ts
Due: instrumentation-redis

test(redis-2-3): insert additional asserts
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
Due: instrumentation-redis

test(test-v4-v5): create test for ATTR_DB_OPERATION_BATCH_SIZE
  packages/instrumentation-redis/test/v4-v5/redis.test.ts
Due: instrumentation-redis

test(redis-2-3): add new tests for semconv stability
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
Due: instrumentation-redis

test(redis): remove unnecessary tests from redis v2-v3 and add test related to redis client connect with error handling in redis v4-v5
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
  packages/instrumentation-redis/test/v4-v5/redis.test.ts
Due: instrumentation-redis

ci: test against Node.js 24 (#2984)
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
  package-lock.json
  packages/instrumentation-knex/package.json
  packages/instrumentation-restify/.tav.yml
  packages/instrumentation-restify/package.json
  packages/instrumentation-tedious/.tav.yml
  scripts/skip-test-if.js
Due: instrumentation-restify, instrumentation-knex, instrumentation-tedious

Update .github/component_owners.yml
  .github/component_owners.yml
Due: none

feat(instrumentation-aws-sdk): Add Semantic Convention Support for Amazon Secrets Manager Attributes (#2971)
  package-lock.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  packages/instrumentation-aws-sdk/src/services/secretsmanager.ts
  packages/instrumentation-aws-sdk/test/secretsmanager.test.ts
Due: instrumentation-aws-sdk

feat(instrumentation-aws-sdk): Add semconv attributes for AWS Step Functions
  package-lock.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  packages/instrumentation-aws-sdk/src/services/stepfunctions.ts
  packages/instrumentation-aws-sdk/test/stepfunctions.test.ts
Due: instrumentation-aws-sdk

feat(instrumentation-koa): Add support for koa 3
  package-lock.json
  packages/instrumentation-koa/.tav.yml
  packages/instrumentation-koa/README.md
  packages/instrumentation-koa/package.json
  packages/instrumentation-koa/src/instrumentation.ts
  packages/instrumentation-koa/src/utils.ts
  packages/instrumentation-koa/test/koa.test.ts
Due: instrumentation-koa

Update to 3.0.1 for security fix, add recommendation to support <4
  package-lock.json
  packages/instrumentation-koa/.tav.yml
  packages/instrumentation-koa/README.md
  packages/instrumentation-koa/package.json
  packages/instrumentation-koa/src/instrumentation.ts
Due: instrumentation-koa

chore: reduce the noise on debug command
  packages/instrumentation-pino/.tav.yml
Due: instrumentation-pino

chore: add log to trigger test
  packages/instrumentation-pino/src/instrumentation.ts
Due: instrumentation-pino

chore: run TAV sequentially to check pino issue
  package.json
Due: none

chore(examples-express): call setupTracing before module imports
  examples/express/src/client.ts
  examples/express/src/server.ts
Due: none

chore(examples-express): call setupTracing before module imports (#2992)
  examples/express/src/client.ts
  examples/express/src/server.ts
Due: none

feat(instrumentation-openai): add instrumentation of openai SDK (#2941)
  .github/component_owners.yml
  .release-please-manifest.json
  package-lock.json
  packages/instrumentation-openai/.eslintignore
  packages/instrumentation-openai/.eslintrc.js
  packages/instrumentation-openai/.tav.yml
  packages/instrumentation-openai/LICENSE
  packages/instrumentation-openai/README.md
  packages/instrumentation-openai/package.json
  packages/instrumentation-openai/src/index.ts
  packages/instrumentation-openai/src/instrumentation.ts
  packages/instrumentation-openai/src/internal-types.ts
  packages/instrumentation-openai/src/semconv.ts
  packages/instrumentation-openai/src/types.ts
  packages/instrumentation-openai/src/utils.ts
  packages/instrumentation-openai/test/load-instrumentation.ts
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-adds-genai-conventions-with-system-message.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-adds-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-handles-connection-errors-without-crashing.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-records-all-the-client-options.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-records-tool-calls.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-with-content-capture-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-with-content-capture-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-chat-completions-with-content-capture-records-tool-calls.json
  packages/instrumentation-openai/test/mock-responses/openai-embeddings-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-does-not-misbehave-with-double-iteration.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-does-not-prevent-usage-of-abort.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-does-not-prevent-usage-of-tee.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-records-tool-calls.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-records-usage.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-with-content-capture-adds-genai-conventions.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-with-content-capture-records-multiple-choices.json
  packages/instrumentation-openai/test/mock-responses/openai-streaming-chat-completions-with-content-capture-records-tool-calls.json
  packages/instrumentation-openai/test/openai.test.ts
  packages/instrumentation-openai/tsconfig.json
  release-please-config.json
Due: none

chore: tweak num of precesses running tests
  .github/workflows/pr-test.yml
  package.json
Due: none

chore: disable parallelization in TAV
  package.json
Due: none

chore: restore tav.yml for pino
  packages/instrumentation-pino/.tav.yml
Due: instrumentation-pino

move xray sampler out of incubating
  packages/sampler-aws-xray/.eslintignore
  packages/sampler-aws-xray/.eslintrc.js
  packages/sampler-aws-xray/LICENSE
  packages/sampler-aws-xray/README.md
  packages/sampler-aws-xray/package.json
  packages/sampler-aws-xray/src/aws-xray-sampling-client.ts
  packages/sampler-aws-xray/src/fallback-sampler.ts
  packages/sampler-aws-xray/src/index.ts
  packages/sampler-aws-xray/src/rate-limiter.ts
  packages/sampler-aws-xray/src/rate-limiting-sampler.ts
  packages/sampler-aws-xray/src/remote-sampler.ts
  packages/sampler-aws-xray/src/rule-cache.ts
  packages/sampler-aws-xray/src/sampling-rule-applier.ts
  packages/sampler-aws-xray/src/sampling-rule.ts
  packages/sampler-aws-xray/src/semconv.ts
  packages/sampler-aws-xray/src/statistics.ts
  packages/sampler-aws-xray/src/types.ts
  packages/sampler-aws-xray/src/utils.ts
  packages/sampler-aws-xray/test/aws-xray-sampling-client.test.ts
  packages/sampler-aws-xray/test/data/get-sampling-rules-response-sample-2.json
  packages/sampler-aws-xray/test/data/get-sampling-rules-response-sample-sample-all.json
  packages/sampler-aws-xray/test/data/get-sampling-rules-response-sample.json
  packages/sampler-aws-xray/test/data/get-sampling-targets-response-sample.json
  packages/sampler-aws-xray/test/data/test-remote-sampler_sampling-rules-response-sample.json
  packages/sampler-aws-xray/test/data/test-remote-sampler_sampling-targets-response-sample.json
  packages/sampler-aws-xray/test/fallback-sampler.test.ts
  packages/sampler-aws-xray/test/rate-limiter.test.ts
  packages/sampler-aws-xray/test/rate-limiting-sampler.test.ts
  packages/sampler-aws-xray/test/remote-sampler.test.ts
  packages/sampler-aws-xray/test/rule-cache.test.ts
  packages/sampler-aws-xray/test/sampling-rule-applier.test.ts
  packages/sampler-aws-xray/test/sampling-rule.test.ts
  packages/sampler-aws-xray/test/statistics.test.ts
  packages/sampler-aws-xray/test/utils.test.ts
  packages/sampler-aws-xray/tsconfig.esm.json
  packages/sampler-aws-xray/tsconfig.json
Due: none

update release-please and package-lock
  .release-please-manifest.json
  package-lock.json
  packages/sampler-aws-xray/package.json
  release-please-config.json
Due: none

Update readme, package.json, and fix lint
  packages/sampler-aws-xray/README.md
  packages/sampler-aws-xray/package.json
  packages/sampler-aws-xray/src/remote-sampler.ts
Due: none

fix: fx coverage merge script
  .github/workflows/pr-test.yml
  package.json
Due: none
