Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: packages/instrumentation-winston/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-redis-4: any of: packages/instrumentation-redis-4/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  plugin-react-load: any of: packages/plugin-react-load/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  resource-detector-instana: any of: packages/resource-detector-instana/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/

feat(aws-ecs-detector): improve container ID validation and test coverage
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
  packages/resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
Due: resource-detector-aws

chore: add InstrumentationConnection to avoid as any casts
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
Due: instrumentation-amqplib

chore(instrumentation-amqp): bump amqplib typings
  package-lock.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/amqplib-promise.test.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

feat(instrumentation-amqp): add stable connection attributes
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

feat(instrumentation-amqp): add stable consume attributes
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

feat(instrumentation-amqp): add stable publish attributes
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

feat(instrumentation-amqp): add stable publish span name
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

feat(instrumentation-amqp): add stable consume span name
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

test(instrumentation-amqp): add tests for amqplib stable attributes
  packages/instrumentation-amqplib/test/amqplib-callbacks-stable.test.ts
  packages/instrumentation-amqplib/test/amqplib-connection-stable.test.ts
  packages/instrumentation-amqplib/test/amqplib-promise-stable.test.ts
Due: instrumentation-amqplib

docs(instrumentation-amqp): improve readme for sem conv versions
  packages/instrumentation-amqplib/README.md
Due: instrumentation-amqplib

chore: Add subscript to issue templates (#2966)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/instrumentation_request.md
  .github/ISSUE_TEMPLATE/ownership_request.md
Due: none

revert the change to instr-express per feedback from David (correct identifying that @types/express *is* used in the test files)
  package-lock.json
  packages/instrumentation-express/package.json
Due: instrumentation-express

typo
  packages/instrumentation-document-load/test/documentLoad.test.ts
Due: instrumentation-document-load

chore: typo in document-load instrumentation (#2980)
  packages/instrumentation-document-load/test/documentLoad.test.ts
Due: instrumentation-document-load

Moved static functions out of the method
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
Due: instrumentation-aws-sdk

refactor: unify InvokeModel pre-span hooks into a single function with isStream flag
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
Due: instrumentation-aws-sdk

feat: add Bedrock InvokeModelWithResponseStream instrumentation
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
  packages/instrumentation-aws-sdk/test/bedrock-runtime.test.ts
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-amazon-nova-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-amazon-titan-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-claude-model-attributes-to-span.json
  plugins/node/instrumentation-cucumber/test/current.feature
Due: instrumentation-aws-sdk

added tests for cohere, cohere-r and mistral
  packages/instrumentation-aws-sdk/test/bedrock-runtime.test.ts
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-cohere-command-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-cohere-command-r-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodelwithstreams-adds-mistral-ai-model-attributes-to-span.json
Due: instrumentation-aws-sdk

added instrumentation for Bedrock Response Stream of llama, cohere and mistral
  packages/instrumentation-aws-sdk/src/services/bedrock-runtime.ts
Due: instrumentation-aws-sdk

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/instrumentation-aws-sdk/CHANGELOG.md
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/CHANGELOG.md
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-dataloader/CHANGELOG.md
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-kafkajs/CHANGELOG.md
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-mysql2/CHANGELOG.md
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-pg/CHANGELOG.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-runtime-node/CHANGELOG.md
  packages/instrumentation-runtime-node/package.json
  packages/instrumentation-winston/CHANGELOG.md
  packages/instrumentation-winston/package.json
  packages/winston-transport/CHANGELOG.md
  packages/winston-transport/package.json
Due: winston-transport, instrumentation-winston, instrumentation-pg, instrumentation-mysql2, instrumentation-aws-sdk, instrumentation-runtime-node, instrumentation-kafkajs, instrumentation-dataloader, instrumentation-cucumber, auto-instrumentations-node

chore: sync package-lock.json
  package-lock.json
Due: none

chore: release main (#2934)
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/instrumentation-aws-sdk/CHANGELOG.md
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/CHANGELOG.md
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-dataloader/CHANGELOG.md
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-kafkajs/CHANGELOG.md
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-mysql2/CHANGELOG.md
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-pg/CHANGELOG.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-runtime-node/CHANGELOG.md
  packages/instrumentation-runtime-node/package.json
  packages/instrumentation-winston/CHANGELOG.md
  packages/instrumentation-winston/package.json
  packages/winston-transport/CHANGELOG.md
  packages/winston-transport/package.json
Due: winston-transport, instrumentation-winston, instrumentation-pg, instrumentation-mysql2, instrumentation-aws-sdk, instrumentation-runtime-node, instrumentation-kafkajs, instrumentation-dataloader, instrumentation-cucumber, auto-instrumentations-node

feat(instrumentation-cucumber): include @cucumber/cucumber@12 (#2958)
  package-lock.json
  packages/instrumentation-cucumber/.tav.yml
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-cucumber/src/instrumentation.ts
Due: instrumentation-cucumber

Rebase and fix conflict
  .github/component-label-map.yml
  .github/component_owners.yml
  .release-please-manifest.json
  examples/web/examples/document-load/index.js
  examples/web/examples/page-view/index.html
  examples/web/examples/page-view/index.js
  examples/web/package.json
  examples/web/webpack.config.js
  package-lock.json
  packages/instrumentation-page-view/.eslintignore
  packages/instrumentation-page-view/.eslintrc.js
  packages/instrumentation-page-view/LICENSE
  packages/instrumentation-page-view/README.md
  packages/instrumentation-page-view/karma.conf.js
  packages/instrumentation-page-view/package.json
  packages/instrumentation-page-view/src/enums/PageTypes.ts
  packages/instrumentation-page-view/src/index.ts
  packages/instrumentation-page-view/src/instrumentation.ts
  packages/instrumentation-page-view/src/types.ts
  packages/instrumentation-page-view/test/index-webpack.ts
  packages/instrumentation-page-view/test/pageView.test.ts
  packages/instrumentation-page-view/tsconfig.esm.json
  packages/instrumentation-page-view/tsconfig.esnext.json
  packages/instrumentation-page-view/tsconfig.json
  packages/instrumentation-page-view/web-test-runner.config.mjs
  packages/instrumentation-typeorm/connection2.db
  release-please-config.json
Due: instrumentation-typeorm

Add Semantic Convention Support for Amazon Secrets Manager Attributes
  package-lock.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  packages/instrumentation-aws-sdk/src/services/secretsmanager.ts
  packages/instrumentation-aws-sdk/test/secretsmanager.test.ts
Due: instrumentation-aws-sdk

address code review feedback.
  packages/instrumentation-aws-sdk/package.json
Due: instrumentation-aws-sdk

feat(instrumentation-aws-sdk): Add semconv attributes for AWS Step Functions
  package-lock.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  packages/instrumentation-aws-sdk/src/services/stepfunctions.ts
  packages/instrumentation-aws-sdk/test/stepfunctions.test.ts
Due: instrumentation-aws-sdk

Type message param as SQSRecord in anonymous function used to build SpanDetails
  packages/instrumentation-aws-lambda/src/instrumentation.ts
Due: instrumentation-aws-lambda

Add sqs handler test for promise style async handler
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
  packages/instrumentation-aws-lambda/test/lambda-test/async.js
Due: instrumentation-aws-lambda

Refactor and format lambda handler tests
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Due: instrumentation-aws-lambda

Rename loop var, underscores are not used to mark unused vars elsewhere in this code
  packages/instrumentation-aws-lambda/test/lambda-test/sync.js
Due: instrumentation-aws-lambda

Return empty array from sqsContextGetter keys method if carrier is null. And fallback to message attribute value if stringValue is undefined
  packages/instrumentation-aws-lambda/src/instrumentation.ts
Due: instrumentation-aws-lambda

Propagate pubsub context when lambda event is an sqs event
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
  packages/instrumentation-aws-lambda/test/lambda-test/sync.js
Due: instrumentation-aws-lambda

Add propagation-utils dependency in instrumentation-aws-lambda package
  packages/instrumentation-aws-lambda/package.json
Due: instrumentation-aws-lambda

fix(instrumentation-pino): Propagate all args to `mixin`
  packages/instrumentation-pino/src/instrumentation.ts
  packages/instrumentation-pino/test/pino.test.ts
Due: instrumentation-pino

chore: test against Node.js 24
  .github/workflows/test-all-versions.yml
  .github/workflows/unit-test.yml
Due: none

bump instr-knex devDep better-sqlite3 to latest 3.x for Node.js 24 support
  package-lock.json
  packages/instrumentation-knex/package.json
Due: instrumentation-knex

chore: remove last references to removed 'propagator-grpc-census-binary' package
  .github/component-label-map.yml
  examples/grpc-census-prop/.eslintrc.js
  examples/grpc-census-prop/.npmrc
  examples/grpc-census-prop/README.md
  examples/grpc-census-prop/capitalize_client.js
  examples/grpc-census-prop/capitalize_server.js
  examples/grpc-census-prop/combination2.md
  examples/grpc-census-prop/combination4.md
  examples/grpc-census-prop/package.json
  examples/grpc-census-prop/protos/defs.proto
  examples/grpc-census-prop/tracer.js
  examples/grpc-census-prop/tracer_census.js
  propagators/README.md
Due: none

chore: pin our selected typescript version (5.0.4) to the top-level node_modules install to reduce duplication
  package-lock.json
  package.json
Due: none

feat(resource-detector-aws): prefer primary container ID across lines; tighten fallback; add min length constant
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
Due: resource-detector-aws
