Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators, baggage-span-processor, baggage-log-record-processor, contrib-test-utils, host-metrics, id-generator-aws-xray, instrumentation-amqplib, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cassandra-driver, instrumentation-connect, instrumentation-cucumber, instrumentation-dataloader, instrumentation-dns, instrumentation-document-load, instrumentation-express, instrumentation-fastify, instrumentation-fs, instrumentation-generic-pool, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-knex, instrumentation-koa, instrumentation-long-task, instrumentation-lru-memoizer, instrumentation-memcached, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-net, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-router, instrumentation-runtime-node, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-user-interaction, instrumentation-winston, plugin-react-load, propagation-utils, propagator-aws-xray, propagator-aws-xray-lambda, propagator-instana, propagator-ot-trace, redis-common, resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-github, resource-detector-instana, sql-common, winston-transport

chore: update ref name in upload reports
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

update devDependencies
  package-lock.json
  packages/resource-detector-gcp/package.json
Due: resource-detector-gcp

chore: add instrumentation-openai label
  .github/component-label-map.yml
Due: none

chore(package): rename repo and scripts packages (#2997)
  package-lock.json
  package.json
  scripts/package.json
Due: none

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-configuration-propagators/CHANGELOG.md
  packages/auto-configuration-propagators/package.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/auto-instrumentations-web/CHANGELOG.md
  packages/auto-instrumentations-web/package.json
  packages/id-generator-aws-xray/CHANGELOG.md
  packages/id-generator-aws-xray/package.json
  packages/instrumentation-aws-lambda/CHANGELOG.md
  packages/instrumentation-aws-lambda/package.json
  packages/instrumentation-aws-sdk/CHANGELOG.md
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/CHANGELOG.md
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-long-task/CHANGELOG.md
  packages/instrumentation-long-task/package.json
  packages/instrumentation-openai/CHANGELOG.md
  packages/instrumentation-openai/package.json
  packages/instrumentation-pg/CHANGELOG.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-pino/CHANGELOG.md
  packages/instrumentation-pino/package.json
  packages/instrumentation-redis/CHANGELOG.md
  packages/instrumentation-redis/package.json
  packages/instrumentation-user-interaction/CHANGELOG.md
  packages/instrumentation-user-interaction/package.json
  packages/plugin-react-load/CHANGELOG.md
  packages/plugin-react-load/package.json
  packages/propagator-aws-xray-lambda/CHANGELOG.md
  packages/propagator-aws-xray-lambda/package.json
  packages/propagator-aws-xray/CHANGELOG.md
  packages/propagator-aws-xray/package.json
  packages/propagator-instana/CHANGELOG.md
  packages/propagator-instana/package.json
  packages/propagator-ot-trace/CHANGELOG.md
  packages/propagator-ot-trace/package.json
Due: auto-instrumentations-web, auto-instrumentations-node, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-cucumber, instrumentation-long-task, instrumentation-openai, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-user-interaction, plugin-react-load, propagator-aws-xray, propagator-aws-xray-lambda

chore: sync package-lock.json
  package-lock.json
Due: none

chore: add debug logs in workflow
  .github/workflows/test.yml
Due: none

chore: enable codecov execution
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

chore: use atuomatic flag management
  codecov.yml
  scripts/codecov-upload-flags.mjs
Due: none

chore: release main (#2982)
  .release-please-manifest.json
  package-lock.json
  packages/auto-configuration-propagators/CHANGELOG.md
  packages/auto-configuration-propagators/package.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/auto-instrumentations-web/CHANGELOG.md
  packages/auto-instrumentations-web/package.json
  packages/id-generator-aws-xray/CHANGELOG.md
  packages/id-generator-aws-xray/package.json
  packages/instrumentation-aws-lambda/CHANGELOG.md
  packages/instrumentation-aws-lambda/package.json
  packages/instrumentation-aws-sdk/CHANGELOG.md
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/CHANGELOG.md
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-long-task/CHANGELOG.md
  packages/instrumentation-long-task/package.json
  packages/instrumentation-openai/CHANGELOG.md
  packages/instrumentation-openai/package.json
  packages/instrumentation-pg/CHANGELOG.md
  packages/instrumentation-pg/package.json
  packages/instrumentation-pino/CHANGELOG.md
  packages/instrumentation-pino/package.json
  packages/instrumentation-redis/CHANGELOG.md
  packages/instrumentation-redis/package.json
  packages/instrumentation-user-interaction/CHANGELOG.md
  packages/instrumentation-user-interaction/package.json
  packages/plugin-react-load/CHANGELOG.md
  packages/plugin-react-load/package.json
  packages/propagator-aws-xray-lambda/CHANGELOG.md
  packages/propagator-aws-xray-lambda/package.json
  packages/propagator-aws-xray/CHANGELOG.md
  packages/propagator-aws-xray/package.json
  packages/propagator-instana/CHANGELOG.md
  packages/propagator-instana/package.json
  packages/propagator-ot-trace/CHANGELOG.md
  packages/propagator-ot-trace/package.json
Due: auto-instrumentations-web, auto-instrumentations-node, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-cucumber, instrumentation-long-task, instrumentation-openai, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-user-interaction, plugin-react-load, propagator-aws-xray, propagator-aws-xray-lambda

chore: add report and flag to codecov command
  scripts/codecov-upload-flags.mjs
Due: none

chore: add dir to codecov command
  scripts/codecov-upload-flags.mjs
Due: none

chore: update path for network file search
  scripts/codecov-upload-flags.mjs
Due: none

chore: add formatting
  scripts/codecov-upload-flags.mjs
Due: none

chore: add instrumentation-openai label (#3009)
  .github/component-label-map.yml
Due: none

chore: add codecov token into script
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

chore: codecov token is empty
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

chore: fix CodeQL issue
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

chore: fix CodeQL issue
  scripts/codecov-upload-flags.mjs
Due: none

chore(instrumentation-openai): remove unused dev dependency @types/glob (#3004)
  package-lock.json
  packages/instrumentation-openai/package.json
Due: instrumentation-openai

chore: remove any path resolution from inputs
  .github/workflows/test.yml
  scripts/codecov-upload-flags.mjs
Due: none

chore: fix arguments in script
  scripts/codecov-upload-flags.mjs
Due: none

chore: fix error in script
  scripts/codecov-upload-flags.mjs
Due: none

chore(resource-detector-gcp): replace punya with jsuereth as component owner
  .github/component_owners.yml
Due: none

test(gcp-detector): properly isolate GcpDetectorIntegration.test.ts
  packages/resource-detector-gcp/test/detectors/GcpDetectorIntegration.test.ts
  packages/resource-detector-gcp/test/detectors/fixtures/detect-with-http-instrumentation.mjs
Due: resource-detector-gcp

chore: drop dry-run option to actually upload coverage files
  scripts/codecov-upload-flags.mjs
Due: none

test(gcp-detector): properly isolate GcpDetectorIntegration.test.ts (#3005)
  packages/resource-detector-gcp/test/detectors/GcpDetectorIntegration.test.ts
  packages/resource-detector-gcp/test/detectors/fixtures/detect-with-http-instrumentation.mjs
Due: resource-detector-gcp

chore: add path fixing
  codecov.yml
Due: none

feat(instrumentation-ioredis): add Redis Cluster instrumentation support
  packages/instrumentation-ioredis/src/instrumentation.ts
  packages/instrumentation-ioredis/src/internal-types.ts
  packages/instrumentation-ioredis/src/types.ts
  packages/instrumentation-ioredis/src/utils.ts
Due: instrumentation-ioredis

fix(detector-aws): extract full container ID from ECS Fargate cgroup (#2855)
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
  packages/resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
Due: resource-detector-aws

chore: another attempt to fix paths
  codecov.yml
Due: none

chore(resource-detector-gcp): update component owners for GCP detector (#3006)
  .github/component_owners.yml
Due: none

chore: remove network folder option
  codecov.yml
  scripts/codecov-upload-flags.mjs
Due: none

fix imports
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gae.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Due: resource-detector-gcp

Delete old GcpDetector.test.ts
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
Due: resource-detector-gcp

Copy in files exactly from GoogleCloudPlatform/opentelemetry-operations-js
  packages/resource-detector-gcp/src/detectors/detector.ts
  packages/resource-detector-gcp/src/detectors/faas.ts
  packages/resource-detector-gcp/src/detectors/gae.ts
  packages/resource-detector-gcp/src/detectors/gce.ts
  packages/resource-detector-gcp/src/detectors/gke.ts
  packages/resource-detector-gcp/test/detectors/detector.test.ts
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gae.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Due: resource-detector-gcp

Update copyright headers to repo style while maintaining Google copyright
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
  packages/resource-detector-gcp/src/detectors/faas.ts
  packages/resource-detector-gcp/src/detectors/gae.ts
  packages/resource-detector-gcp/src/detectors/gce.ts
  packages/resource-detector-gcp/src/detectors/gke.ts
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gae.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Due: resource-detector-gcp

suppressTracing during resource detection to satisfy GcpDetectorIntegration.test.ts
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
Due: resource-detector-gcp

Rename test file to match repo style
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
Due: resource-detector-gcp

Rename and expose an instance to match repo style
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
Due: resource-detector-gcp

Path conditions:
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra-driver/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-openai: any of: packages/instrumentation-openai/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-winston: any of: packages/instrumentation-winston/
  plugin-react-load: any of: packages/plugin-react-load/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  redis-common: any of: packages/opentelemetry-redis-common/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-instana: any of: packages/resource-detector-instana/
  sql-common: any of: packages/opentelemetry-sql-common/
  winston-transport: any of: packages/winston-transport/
