Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators, baggage-span-processor, baggage-log-record-processor, contrib-test-utils, host-metrics, id-generator-aws-xray, instrumentation-amqplib, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cassandra-driver, instrumentation-connect, instrumentation-cucumber, instrumentation-dataloader, instrumentation-dns, instrumentation-document-load, instrumentation-express, instrumentation-fastify, instrumentation-fs, instrumentation-generic-pool, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-knex, instrumentation-koa, instrumentation-long-task, instrumentation-lru-memoizer, instrumentation-memcached, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-net, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-router, instrumentation-runtime-node, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-user-interaction, instrumentation-winston, plugin-react-load, propagation-utils, propagator-aws-xray, propagator-aws-xray-lambda, propagator-instana, propagator-ot-trace, redis-common, resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-github, resource-detector-instana, sql-common, winston-transport

chore: remove unused jQuery dependencies from instrumentation packages
  package-lock.json
  packages/instrumentation-long-task/karma.conf.js
  packages/instrumentation-user-interaction/karma.conf.js
  packages/instrumentation-user-interaction/package.json
Due: instrumentation-long-task, instrumentation-user-interaction

fix(karma-webpack): use fully specified process/browser.js for webpack 5 ESM compatibility
  karma.webpack.js
Due: none

fix(karma): load karma plugins from root package.json
  packages/instrumentation-long-task/karma.conf.js
  packages/instrumentation-user-interaction/karma.conf.js
  packages/propagator-aws-xray/karma.conf.js
  packages/propagator-instana/karma.conf.js
Due: instrumentation-long-task, instrumentation-user-interaction, propagator-aws-xray

test(instrumentation-openai): configure Mocha for ESM/TypeScript, add formdata-node dep
  package-lock.json
  packages/instrumentation-openai/.mocharc.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-openai/tsconfig.json
Due: instrumentation-openai

fix(instrumentation-redis): remove redis devDep for TAV compatibility
  package-lock.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-redis/package.json
  packages/resource-detector-gcp/package.json
Due: instrumentation-openai, instrumentation-redis, resource-detector-gcp

fix(instrumentation-aws-sdk): add path mapping for semantic-conventions/incubating
  packages/instrumentation-aws-sdk/tsconfig.json
Due: instrumentation-aws-sdk

test(resource-detector-gcp): configure Mocha for ESM/TypeScript, add missing dependencies
  package-lock.json
  packages/resource-detector-gcp/.mocharc.json
Due: resource-detector-gcp

Update tsconfig.json
  packages/instrumentation-aws-sdk/tsconfig.json
Due: instrumentation-aws-sdk

hold off on TS
  package-lock.json
  package.json
Due: none

fix google
  package-lock.json
  packages/resource-detector-gcp/package.json
Due: resource-detector-gcp

fix(instrumentation-redis): properly implement getModuleDefinitions() in the merged-from-two RedisInstrumentation (#3025)
  packages/instrumentation-redis/package.json
  packages/instrumentation-redis/src/redis.ts
  packages/instrumentation-redis/test/redis.test.ts
Due: instrumentation-redis

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/instrumentation-redis/CHANGELOG.md
  packages/instrumentation-redis/package.json
  packages/resource-detector-gcp/CHANGELOG.md
  packages/resource-detector-gcp/package.json
Due: auto-instrumentations-node, instrumentation-redis, resource-detector-gcp

chore: sync package-lock.json
  package-lock.json
Due: none

repair lockfile for browsers
  package-lock.json
Due: none

add rimraf
  package-lock.json
  package.json
Due: none

transpileonly
  packages/instrumentation-openai/tsconfig.json
Due: instrumentation-openai

use new format
  .mocharc.json
  .mocharc.yml
  packages/instrumentation-openai/.mocharc.json
  packages/instrumentation-openai/tsconfig.json
Due: instrumentation-openai

add missing google dep
  package-lock.json
  packages/resource-detector-gcp/package.json
Due: resource-detector-gcp

chore: release main (#3035)
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/instrumentation-redis/CHANGELOG.md
  packages/instrumentation-redis/package.json
  packages/resource-detector-gcp/CHANGELOG.md
  packages/resource-detector-gcp/package.json
Due: auto-instrumentations-node, instrumentation-redis, resource-detector-gcp

Update
  .github/workflows/pr-review.yml
Due: none

Migrate to otelbot
  .github/workflows/survey-on-merged-pr.yml
Due: none

Migrate last remaining opentelemetrybot usage to otelbot
  .github/workflows/update-otel-deps.yaml
Due: none

test(instrumentation-mongoose): add Mongoose test guard for graceful skip
  .github/workflows/test-all-versions.yml
  .github/workflows/test.yml
  packages/instrumentation-mongoose/test/mongoose-common.test.ts
  packages/instrumentation-mongoose/test/mongoose-v5-v6.test.ts
  packages/instrumentation-mongoose/test/mongoose-v7-v8.test.ts
  test/test-services.env
Due: instrumentation-mongoose

chore: Migrate to otelbot (#3039)
  .github/workflows/survey-on-merged-pr.yml
Due: none

change initial version to 0.1.0
  .release-please-manifest.json
  package-lock.json
  packages/sampler-aws-xray/package.json
Due: none

fix lint for .eslintrc.js
  packages/sampler-aws-xray/.eslintrc.js
Due: none

add original test-all-versions@6.2.0
  test-all-versions.js
Due: none

add connection2.db to gitignore
  packages/instrumentation-typeorm/.gitignore
Due: instrumentation-typeorm

test(undici): fix typo in a comment
  packages/instrumentation-undici/test/utils/assertSpan.ts
Due: instrumentation-undici

build: run tav in parallel
  package-lock.json
  package.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-bunyan/package.json
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-express/package.json
  packages/instrumentation-fastify/.tav.yml
  packages/instrumentation-fastify/package.json
  packages/instrumentation-graphql/package.json
  packages/instrumentation-hapi/package.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-koa/package.json
  packages/instrumentation-lru-memoizer/package.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-nestjs-core/package.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-oracledb/package.json
  packages/instrumentation-pg/package.json
  packages/instrumentation-pino/package.json
  packages/instrumentation-redis/package.json
  packages/instrumentation-restify/package.json
  packages/instrumentation-socket.io/package.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-typeorm/package.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-winston/package.json
  test-all-versions.js
Due: instrumentation-amqplib, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cucumber, instrumentation-dataloader, instrumentation-express, instrumentation-fastify, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-koa, instrumentation-lru-memoizer, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-winston

fix(instrumentation-aws-sdk): use skipLibCheck option to avoid compiltion error
  packages/instrumentation-aws-sdk/tsconfig.json
Due: instrumentation-aws-sdk

chore: fix typo
  packages/instrumentation-aws-sdk/tsconfig.json
Due: instrumentation-aws-sdk

fix(instrumentation-aws-sdk): use `skipLibCheck` option to avoid compilation error (#3041)
  packages/instrumentation-aws-sdk/tsconfig.json
Due: instrumentation-aws-sdk

Use js contrib specific otelbot with content write permission
  .github/workflows/update-otel-deps.yaml
Due: none

chore: add logs to codecov script
  package-lock.json
  package.json
  scripts/codecov-upload-flags.mjs
Due: none

feat(instrumentation-koa): Add support for koa 3 (#2957)
  package-lock.json
  packages/instrumentation-koa/.tav.yml
  packages/instrumentation-koa/README.md
  packages/instrumentation-koa/package.json
  packages/instrumentation-koa/src/instrumentation.ts
  packages/instrumentation-koa/src/utils.ts
  packages/instrumentation-koa/test/koa.test.ts
Due: instrumentation-koa

docs(auto-instrumentations-node): update semconv usage to ATTR_ exports
  packages/auto-instrumentations-node/README.md
Due: auto-instrumentations-node

chore(resource-detector-container): update semconv usage to ATTR_ exports
  packages/resource-detector-container/src/detectors/ContainerDetector.ts
  packages/resource-detector-container/src/semconv.ts
Due: resource-detector-container

test(instrumentation-koa): update semconv usage to ATTR_ exports
  packages/instrumentation-koa/test/koa.test.ts
Due: instrumentation-koa

Path conditions:
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra-driver/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-openai: any of: packages/instrumentation-openai/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-winston: any of: packages/instrumentation-winston/
  plugin-react-load: any of: packages/plugin-react-load/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  redis-common: any of: packages/opentelemetry-redis-common/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-instana: any of: packages/resource-detector-instana/
  sql-common: any of: packages/opentelemetry-sql-common/
  winston-transport: any of: packages/winston-transport/
