Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators, baggage-span-processor, baggage-log-record-processor, contrib-test-utils, host-metrics, id-generator-aws-xray, instrumentation-amqplib, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cassandra-driver, instrumentation-connect, instrumentation-cucumber, instrumentation-dataloader, instrumentation-dns, instrumentation-document-load, instrumentation-express, instrumentation-fastify, instrumentation-fs, instrumentation-generic-pool, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-knex, instrumentation-koa, instrumentation-long-task, instrumentation-lru-memoizer, instrumentation-memcached, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-net, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-router, instrumentation-runtime-node, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-user-interaction, instrumentation-winston, plugin-react-load, propagation-utils, propagator-aws-xray, propagator-aws-xray-lambda, propagator-instana, propagator-ot-trace, redis-common, resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-github, resource-detector-instana, sql-common, winston-transport

Path conditions:
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra-driver/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-openai: any of: packages/instrumentation-openai/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-winston: any of: packages/instrumentation-winston/
  plugin-react-load: any of: packages/plugin-react-load/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  redis-common: any of: packages/opentelemetry-redis-common/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-instana: any of: packages/resource-detector-instana/
  sql-common: any of: packages/opentelemetry-sql-common/
  winston-transport: any of: packages/winston-transport/

refactor
  packages/instrumentation-aws-lambda/src/instrumentation.ts
Due: instrumentation-aws-lambda

rebase
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Due: instrumentation-aws-lambda

chore(instrumentation-cassandra-driver): update semconv usage to ATTR_ exports (#3058)
  packages/instrumentation-cassandra-driver/package.json
  packages/instrumentation-cassandra-driver/src/instrumentation.ts
  packages/instrumentation-cassandra-driver/src/semconv.ts
  packages/instrumentation-cassandra-driver/test/cassandra-driver.test.ts
Due: instrumentation-cassandra-driver

chore(instrumentation-ioredis): update semconv usage to ATTR_ exports (#3059)
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-ioredis/src/instrumentation.ts
  packages/instrumentation-ioredis/src/semconv.ts
  packages/instrumentation-ioredis/test/ioredis.test.ts
Due: instrumentation-ioredis

chore(instrumentation-mongodb): update semconv usage to ATTR_ exports (#3057)
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongodb/src/instrumentation.ts
  packages/instrumentation-mongodb/src/semconv.ts
  packages/instrumentation-mongodb/test/mongodb-v3.test.ts
  packages/instrumentation-mongodb/test/mongodb-v4.test.ts
  packages/instrumentation-mongodb/test/mongodb-v5-v6.test.ts
  packages/instrumentation-mongodb/test/utils.ts
Due: instrumentation-mongodb

another fix
  .github/workflows/update-otel-deps.yaml
Due: none

chore(instrumentation-socket.io): update semconv usage to ATTR_ exports (#3055)
  package-lock.json
  packages/instrumentation-socket.io/package.json
  packages/instrumentation-socket.io/src/semconv-obsolete.ts
  packages/instrumentation-socket.io/src/semconv.ts
  packages/instrumentation-socket.io/src/socket.io.ts
  packages/instrumentation-socket.io/test/socket.io.test.ts
  packages/instrumentation-socket.io/test/utils.ts
Due: instrumentation-socket.io

chore(instrumentation-mysql2): update semconv usage to ATTR_ exports (#3054)
  package-lock.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-mysql2/src/instrumentation.ts
  packages/instrumentation-mysql2/src/semconv.ts
  packages/instrumentation-mysql2/src/utils.ts
  packages/instrumentation-mysql2/test/mysql.test.ts
Due: instrumentation-mysql2

chore(contrib-test-utils)!: update semconv usage to ATTR_ exports (#3061)
  package.json
  packages/contrib-test-utils/src/instrumentations/index.ts
  packages/contrib-test-utils/src/resource-assertions.ts
  packages/contrib-test-utils/src/semconv.ts
  scripts/lint-semconv-deps.mjs
Due: none

test(instrumentation-mongoose): add Mongoose test guard for graceful skip
  .github/workflows/test-all-versions.yml
  .github/workflows/test.yml
  packages/instrumentation-mongoose/test/mongoose-common.test.ts
  packages/instrumentation-mongoose/test/mongoose-v5-v6.test.ts
  packages/instrumentation-mongoose/test/mongoose-v7-v8.test.ts
  test/test-services.env
Due: instrumentation-mongoose

chore(instrumentation-mysql): update semconv usage to ATTR_ exports (#3052)
  package-lock.json
  packages/instrumentation-mysql/package.json
  packages/instrumentation-mysql/src/instrumentation.ts
  packages/instrumentation-mysql/src/semconv.ts
  packages/instrumentation-mysql/src/utils.ts
  packages/instrumentation-mysql/test/index.test.ts
Due: instrumentation-mysql

chore(resource-detector-alibaba-cloud): update semconv usage to ATTR_ exports (#3051)
  package-lock.json
  packages/resource-detector-alibaba-cloud/package.json
  packages/resource-detector-alibaba-cloud/src/detectors/AlibabaCloudEcsDetector.ts
  packages/resource-detector-alibaba-cloud/src/semconv.ts
  packages/resource-detector-alibaba-cloud/test/detectors/AlibabaCloudEcsDetector.test.ts
Due: resource-detector-alibaba-cloud

chore(resource-detector-azure)!: update semconv usage to ATTR_ exports
  packages/resource-detector-azure/README.md
  packages/resource-detector-azure/src/detectors/AzureAppServiceDetector.ts
  packages/resource-detector-azure/src/detectors/AzureFunctionsDetector.ts
  packages/resource-detector-azure/src/detectors/AzureVmDetector.ts
  packages/resource-detector-azure/test/detectors/AzureAppServiceDetector.test.ts
  packages/resource-detector-azure/test/detectors/AzureFunctionsDetector.test.ts
  packages/resource-detector-azure/test/detectors/AzureVmDetector.test.ts
Due: resource-detector-azure

test(instrumentation-openai): configure Mocha for ESM/TypeScript, add formdata-node dep
  .mocharc.json
  .mocharc.yml
  package-lock.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-openai/tsconfig.json
Due: instrumentation-openai

use axios class
  examples/express/src/server.ts
Due: none

test(resource-detector-gcp): configure Mocha for ESM/TypeScript, add missing dependencies
  package-lock.json
  packages/resource-detector-gcp/.mocharc.json
Due: resource-detector-gcp

chore: remove unused jQuery dependencies from instrumentation packages
  package-lock.json
  packages/instrumentation-long-task/karma.conf.js
  packages/instrumentation-user-interaction/karma.conf.js
  packages/instrumentation-user-interaction/package.json
Due: instrumentation-long-task, instrumentation-user-interaction

patch openai and gcp
  packages/instrumentation-openai/package.json
  packages/resource-detector-gcp/package.json
Due: instrumentation-openai, resource-detector-gcp

fix(instrumentation-socket.io): update to expect v29 import syntax
  packages/instrumentation-socket.io/test/config.test.ts
  packages/instrumentation-socket.io/test/socket.io.test.ts
  packages/instrumentation-socket.io/test/utils.ts
Due: instrumentation-socket.io

chore: upgrade to TypeScript 5.9.2, adjust module resolution for CommonJS
  package-lock.json
  package.json
  packages/contrib-test-utils/package.json
  tsconfig.base.esm.json
  tsconfig.base.esnext.json
  tsconfig.base.json
Due: none

fix(karma-webpack): use fully specified process/browser.js for webpack 5 ESM compatibility
  karma.webpack.js
Due: none

fix(karma): load karma plugins from root package.json
  packages/instrumentation-long-task/karma.conf.js
  packages/instrumentation-user-interaction/karma.conf.js
  packages/propagator-aws-xray/karma.conf.js
  packages/propagator-instana/karma.conf.js
Due: instrumentation-long-task, instrumentation-user-interaction, propagator-aws-xray

test(instrumentation-aws-sdk): fix Content-Length headers in nock mocks for Bedrock tests
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-amazon-nova-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-amazon-titan-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-anthropic-claude-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-cohere-command-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-cohere-command-r-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-meta-llama-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-mistral-ai-model-attributes-to-span.json
Due: instrumentation-aws-sdk

fix(instrumentation): remove redis devDep for TAV compatibility
  package-lock.json
  packages/instrumentation-redis/package.json
Due: instrumentation-redis

fix(instrumentation-dns): resolve TypeScript type mismatches
  packages/instrumentation-dns/test/functionals/dns-disable.test.ts
Due: instrumentation-dns

use local src/semconv.ts
  packages/resource-detector-azure/src/detectors/AzureAppServiceDetector.ts
  packages/resource-detector-azure/src/detectors/AzureFunctionsDetector.ts
  packages/resource-detector-azure/src/detectors/AzureVmDetector.ts
  packages/resource-detector-azure/src/semconv.ts
  packages/resource-detector-azure/test/detectors/AzureAppServiceDetector.test.ts
  packages/resource-detector-azure/test/detectors/AzureFunctionsDetector.test.ts
Due: resource-detector-azure

specify semconv package version 1.37.0 because the docs are asserting that (and the tests assert values from 1.36.0)
  packages/resource-detector-azure/package.json
Due: resource-detector-azure

chore(instrumentation-memcached): update semconv usage to ATTR_ exports (#3050)
  package-lock.json
  packages/instrumentation-memcached/package.json
  packages/instrumentation-memcached/src/instrumentation.ts
  packages/instrumentation-memcached/src/semconv.ts
  packages/instrumentation-memcached/src/utils.ts
  packages/instrumentation-memcached/test/index.test.ts
Due: instrumentation-memcached

chore(instrumentation-redis): update semconv usage to ATTR_ exports
  packages/instrumentation-redis/src/semconv.ts
  packages/instrumentation-redis/src/v2-v3/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/utils.ts
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
  packages/instrumentation-redis/test/v4-v5/redis.test.ts
Due: instrumentation-redis

repair linux deps
  package-lock.json
Due: none

this is jsx
  examples/react-load/preact/src/components/Content.jsx
  examples/react-load/preact/src/components/Home.jsx
  examples/react-load/preact/src/components/app.jsx
Due: none

skipLibCheck for openai
  packages/instrumentation-openai/tsconfig.json
Due: instrumentation-openai

lint dns test
  packages/instrumentation-dns/test/functionals/dns-disable.test.ts
Due: instrumentation-dns

chore(instrumentation-redis): update semconv usage to ATTR_ exports (#3064)
  packages/instrumentation-redis/src/semconv.ts
  packages/instrumentation-redis/src/v2-v3/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/utils.ts
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
  packages/instrumentation-redis/test/v4-v5/redis.test.ts
Due: instrumentation-redis

chore(instrumentation-aws-sdk): update semconv usage to ATTR_ exports
  packages/instrumentation-aws-sdk/src/aws-sdk.ts
  packages/instrumentation-aws-sdk/src/semconv-obsolete.ts
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/dynamodb.ts
  packages/instrumentation-aws-sdk/src/services/lambda.ts
  packages/instrumentation-aws-sdk/src/services/sns.ts
  packages/instrumentation-aws-sdk/src/services/sqs.ts
  packages/instrumentation-aws-sdk/src/utils.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-s3.test.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-sqs.test.ts
  packages/instrumentation-aws-sdk/test/lambda.test.ts
  packages/instrumentation-aws-sdk/test/secretsmanager.test.ts
  packages/instrumentation-aws-sdk/test/sns.test.ts
  packages/instrumentation-aws-sdk/test/stepfunctions.test.ts
Due: instrumentation-aws-sdk

chore(instrumentation-amqplib): update semconv usage to ATTR_ exports
  packages/instrumentation-amqplib/README.md
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/semconv-obsolete.ts
  packages/instrumentation-amqplib/src/semconv.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/amqplib-callbacks.test.ts
  packages/instrumentation-amqplib/test/amqplib-connection.test.ts
  packages/instrumentation-amqplib/test/amqplib-promise.test.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

chore(instrumentation-amqplib): update semconv usage to ATTR_ exports (#3066)
  packages/instrumentation-amqplib/README.md
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/semconv-obsolete.ts
  packages/instrumentation-amqplib/src/semconv.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/amqplib-callbacks.test.ts
  packages/instrumentation-amqplib/test/amqplib-connection.test.ts
  packages/instrumentation-amqplib/test/amqplib-promise.test.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

feat(resource-detector-azure)!: update semconv usage to ATTR_ exports, update to semconv v1.37.0 (#3063)
  packages/resource-detector-azure/README.md
  packages/resource-detector-azure/package.json
  packages/resource-detector-azure/src/detectors/AzureAppServiceDetector.ts
  packages/resource-detector-azure/src/detectors/AzureFunctionsDetector.ts
  packages/resource-detector-azure/src/detectors/AzureVmDetector.ts
  packages/resource-detector-azure/src/semconv.ts
  packages/resource-detector-azure/test/detectors/AzureAppServiceDetector.test.ts
  packages/resource-detector-azure/test/detectors/AzureFunctionsDetector.test.ts
  packages/resource-detector-azure/test/detectors/AzureVmDetector.test.ts
Due: resource-detector-azure
