Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

test: add comprehensive tests for environment variable precedence
  packages/auto-instrumentations-node/test/utils.test.ts
Due: auto-instrumentations-node

chore: remove redundant comments
  packages/auto-instrumentations-node/src/utils.ts
Due: auto-instrumentations-node

Fix
  packages/instrumentation-openai/package.json
Due: none

test(detector-aws): refactor ECS container ID extraction tests
  packages/resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
Due: resource-detector-aws

address comments
  incubator/opentelemetry-sampler-aws-xray/src/aws-xray-sampling-client.ts
  incubator/opentelemetry-sampler-aws-xray/src/fallback-sampler.ts
  incubator/opentelemetry-sampler-aws-xray/src/rate-limiter.ts
  incubator/opentelemetry-sampler-aws-xray/src/rule-cache.ts
  incubator/opentelemetry-sampler-aws-xray/src/sampling-rule-applier.ts
  incubator/opentelemetry-sampler-aws-xray/test/fallback-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/rate-limiting-sampler.test.ts
  incubator/opentelemetry-sampler-aws-xray/test/remote-sampler.test.ts
Due: none

fix(kafkajs): remove explicit SpanKind INTERNAL and mark transaction span OK on successful commit
  packages/instrumentation-kafkajs/src/instrumentation.ts
  packages/instrumentation-kafkajs/test/kafkajs.test.ts
Due: instrumentation-kafkajs

update unit test variables
  incubator/opentelemetry-sampler-aws-xray/test/remote-sampler.test.ts
Due: none

feat: add esm output
  packages/instrumentation-undici/package.json
  packages/instrumentation-undici/src/index.ts
  packages/instrumentation-undici/src/internal-types.ts
  packages/instrumentation-undici/src/undici.ts
  packages/instrumentation-undici/test/fetch.test.ts
  packages/instrumentation-undici/test/metrics.test.ts
  packages/instrumentation-undici/test/undici.test.ts
  packages/instrumentation-undici/test/utils/assertSpan.ts
  packages/instrumentation-undici/tsconfig.esm.json
  packages/instrumentation-undici/tsconfig.json
Due: instrumentation-undici

chore: use tsup for cjs,esm output
  .gitignore
  package-lock.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-undici/tsconfig.json
Due: instrumentation-undici

chore: fix lint script
  packages/instrumentation-undici/.eslintrc.cjs
Due: instrumentation-undici

fix(instrumentation-runtime-node): fix .isEnabled() (#2946)
  packages/instrumentation-runtime-node/src/instrumentation.ts
  packages/instrumentation-runtime-node/test/instrumentation.test.ts
Due: instrumentation-runtime-node

chore: cat file for debugging
  packages/instrumentation-pg/package.json
Due: instrumentation-pg

chore: fix conflicts with main
  packages/instrumentation-pg/package.json
  packages/instrumentation-pg/test/pg-pool.test.ts
Due: instrumentation-pg

fix(winston-transport, instrumentation-winston): get the correct severityText and severityNumber with winston.format.colorize() is used
  packages/instrumentation-winston/package.json
  packages/instrumentation-winston/test/winston.test.ts
  packages/winston-transport/src/utils.ts
Due: winston-transport, instrumentation-winston

feat(instrumentation-koa): Add support for koa 3
  package-lock.json
  packages/instrumentation-koa/.tav.yml
  packages/instrumentation-koa/README.md
  packages/instrumentation-koa/package.json
  packages/instrumentation-koa/src/instrumentation.ts
  packages/instrumentation-koa/src/utils.ts
  packages/instrumentation-koa/test/koa.test.ts
Due: instrumentation-koa

use newer directory structure
  .github/component_owners.yml
  .release-please-manifest.json
  package-lock.json
  packages/instrumentation-sequelize/.eslintignore
  packages/instrumentation-sequelize/.eslintrc.js
  packages/instrumentation-sequelize/LICENSE
  packages/instrumentation-sequelize/NOTICE
  packages/instrumentation-sequelize/README.md
  packages/instrumentation-sequelize/package.json
  packages/instrumentation-sequelize/src/index.ts
  packages/instrumentation-sequelize/src/instrumentation.ts
  packages/instrumentation-sequelize/src/types.ts
  packages/instrumentation-sequelize/src/utils.ts
  packages/instrumentation-sequelize/test/sequelize.test.ts
  packages/instrumentation-sequelize/tsconfig.json
  release-please-config.json
Due: none

chore: change compilation targets
  packages/instrumentation-undici/package.json
  packages/instrumentation-undici/test/undici.test.ts
  packages/instrumentation-undici/tsconfig.cjs.json
  packages/instrumentation-undici/tsconfig.esm.json
  packages/instrumentation-undici/tsconfig.json
Due: instrumentation-undici

chore: fix compilation cache
  nx.json
Due: none

remove unused dep
  package-lock.json
  packages/instrumentation-aws-sdk/package.json
Due: instrumentation-aws-sdk

fix(detector-aws): extract full container ID from ECS Fargate cgroup paths
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
  packages/resource-detector-aws/test/detectors/AwsEcsDetector.test.ts
Due: resource-detector-aws

chore(comment): remove comment
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
Due: resource-detector-aws

feat(instrumentation-cucumber): include @cucumber/cucumber@12
  package-lock.json
  packages/instrumentation-cucumber/.tav.yml
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-cucumber/src/instrumentation.ts
Due: instrumentation-cucumber

chore(instrumentation-amqp): bump amqplib typings
  package-lock.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/amqplib-promise.test.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

chore: add InstrumentationConnection to avoid as any casts
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
Due: instrumentation-amqplib

comment clarifying why using levelSym
  packages/winston-transport/src/utils.ts
Due: winston-transport

remove dev/debugging comment; reflow and period at end of sentence
  packages/instrumentation-winston/test/winston.test.ts
  packages/winston-transport/src/utils.ts
Due: winston-transport, instrumentation-winston

fix winston-transport test cases to include the Symbol.for('level') in the info object passed to OpenTelemetryTransportV3 for testing
  packages/winston-transport/test/openTelemetryTransport.test.ts
Due: winston-transport

fix(instrumentation-cucumber): switch from deprecated attributes to stable
  packages/instrumentation-cucumber/README.md
  packages/instrumentation-cucumber/src/instrumentation.ts
  packages/instrumentation-cucumber/test/cucumber.test.ts
Due: instrumentation-cucumber

fix(winston-transport, instrumentation-winston): get the correct severityText and severityNumber with winston.format.colorize() is used (#2956)
  packages/instrumentation-winston/package.json
  packages/instrumentation-winston/test/winston.test.ts
  packages/winston-transport/src/utils.ts
  packages/winston-transport/test/openTelemetryTransport.test.ts
Due: winston-transport, instrumentation-winston

Update packages/instrumentation-openai/src/utils.ts
  packages/instrumentation-openai/src/utils.ts
Due: none

Fix debug
  package-lock.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-openai/src/instrumentation.ts
Due: none

Comment
  packages/instrumentation-openai/src/instrumentation.ts
Due: none

Regenerate semconv
  packages/instrumentation-openai/src/instrumentation.ts
  packages/instrumentation-openai/src/semconv.ts
Due: none

Format
  packages/instrumentation-openai/src/instrumentation.ts
Due: none

Fix
  packages/instrumentation-openai/src/utils.ts
Due: none

chore: revert instr-wiston test scripts to use the one from main
  packages/instrumentation-winston/package.json
Due: instrumentation-winston

chore: remove env file in mysql2 instr
  packages/instrumentation-mysql2/env
Due: instrumentation-mysql2

chore(instrumentation-express, instrumentation-fastify): drop unused devDep @types/express
  package-lock.json
  packages/instrumentation-express/package.json
  packages/instrumentation-fastify/package.json
Due: instrumentation-fastify, instrumentation-express

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: packages/instrumentation-winston/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-redis-4: any of: packages/instrumentation-redis-4/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  plugin-react-load: any of: packages/plugin-react-load/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  resource-detector-instana: any of: packages/resource-detector-instana/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
