Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators, baggage-span-processor, baggage-log-record-processor, contrib-test-utils, host-metrics, id-generator-aws-xray, instrumentation-amqplib, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cassandra-driver, instrumentation-connect, instrumentation-cucumber, instrumentation-dataloader, instrumentation-dns, instrumentation-document-load, instrumentation-express, instrumentation-fastify, instrumentation-fs, instrumentation-generic-pool, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-knex, instrumentation-koa, instrumentation-long-task, instrumentation-lru-memoizer, instrumentation-memcached, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-net, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-router, instrumentation-runtime-node, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-user-interaction, instrumentation-winston, plugin-react-load, propagation-utils, propagator-aws-xray, propagator-aws-xray-lambda, propagator-instana, propagator-ot-trace, redis-common, resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-github, resource-detector-instana, sql-common, winston-transport

forgot to update the import to use the local semconv.ts
  packages/resource-detector-container/src/detectors/ContainerDetector.ts
Due: resource-detector-container

test(instrumentation-nestjs-core): update semconv usage to ATTR_ exports
  packages/instrumentation-nestjs-core/src/instrumentation.ts
  packages/instrumentation-nestjs-core/src/semconv.ts
Due: instrumentation-nestjs-core

no longer need local semconv package dep
  package-lock.json
  packages/resource-detector-container/package.json
Due: resource-detector-container

missed updating this usage
  packages/instrumentation-koa/test/koa.test.ts
Due: instrumentation-koa

chore(instrumentation-document-load): update semconv usage to ATTR_ exports
  packages/instrumentation-document-load/src/instrumentation.ts
  packages/instrumentation-document-load/src/semconv.ts
  packages/instrumentation-document-load/test/documentLoad.test.ts
Due: instrumentation-document-load

chore(auto-instrumentations-node): update semconv usage to ATTR_ exports (#3043)
  packages/auto-instrumentations-node/README.md
Due: auto-instrumentations-node

test(instrumentation-koa): update semconv usage to ATTR_ exports (#3045)
  packages/instrumentation-koa/test/koa.test.ts
Due: instrumentation-koa

test(instrumentation-nestjs-core): update semconv usage to ATTR_ exports (#3046)
  packages/instrumentation-nestjs-core/src/instrumentation.ts
  packages/instrumentation-nestjs-core/src/semconv.ts
Due: instrumentation-nestjs-core

no longer need direct dep on semantic-conventions package
  packages/instrumentation-document-load/package.json
Due: instrumentation-document-load

attempt to restore package-lock to unchanged state
  package-lock.json
Due: none

chore(instrumentation-knex): update semconv usage to ATTR_ exports
  packages/instrumentation-knex/src/instrumentation.ts
  packages/instrumentation-knex/src/semconv.ts
Due: instrumentation-knex

chore(instrumentation-aws-lambda): update semconv usage to ATTR_ exports
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/src/semconv-obsolete.ts
  packages/instrumentation-aws-lambda/src/semconv.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Due: instrumentation-aws-lambda

chore(instrumentation-memcached): update semconv usage to ATTR_ exports
  package-lock.json
  packages/instrumentation-memcached/package.json
  packages/instrumentation-memcached/src/instrumentation.ts
  packages/instrumentation-memcached/src/utils.ts
  packages/instrumentation-memcached/test/index.test.ts
Due: instrumentation-memcached

forgot to add this file
  packages/instrumentation-memcached/src/semconv.ts
Due: instrumentation-memcached

chore(resource-detector-alibaba-cloud): update semconv usage to ATTR_ exports
  package-lock.json
  packages/resource-detector-alibaba-cloud/package.json
  packages/resource-detector-alibaba-cloud/src/detectors/AlibabaCloudEcsDetector.ts
  packages/resource-detector-alibaba-cloud/src/semconv.ts
  packages/resource-detector-alibaba-cloud/test/detectors/AlibabaCloudEcsDetector.test.ts
Due: resource-detector-alibaba-cloud

chore(instrumentation-mysql): update semconv usage to ATTR_ exports
  package-lock.json
  packages/instrumentation-mysql/package.json
  packages/instrumentation-mysql/src/instrumentation.ts
  packages/instrumentation-mysql/src/semconv.ts
  packages/instrumentation-mysql/src/utils.ts
  packages/instrumentation-mysql/test/index.test.ts
Due: instrumentation-mysql

chore(instrumentation-tedious): update semconv usage to ATTR_ exports
  package-lock.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-tedious/src/instrumentation.ts
  packages/instrumentation-tedious/src/semconv.ts
  packages/instrumentation-tedious/test/instrumentation.test.ts
Due: instrumentation-tedious

chore(instrumentation-mysql2): update semconv usage to ATTR_ exports
  package-lock.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-mysql2/src/instrumentation.ts
  packages/instrumentation-mysql2/src/semconv.ts
  packages/instrumentation-mysql2/src/utils.ts
  packages/instrumentation-mysql2/test/mysql.test.ts
Due: instrumentation-mysql2

chore(instrumentation-socket.io): update semconv usage to ATTR_ exports
  package-lock.json
  packages/instrumentation-socket.io/package.json
  packages/instrumentation-socket.io/src/semconv-obsolete.ts
  packages/instrumentation-socket.io/src/semconv.ts
  packages/instrumentation-socket.io/src/socket.io.ts
  packages/instrumentation-socket.io/test/socket.io.test.ts
  packages/instrumentation-socket.io/test/utils.ts
Due: instrumentation-socket.io

chore(instrumentation-knex): update semconv usage to ATTR_ exports (#3048)
  packages/instrumentation-knex/src/instrumentation.ts
  packages/instrumentation-knex/src/semconv.ts
Due: instrumentation-knex

chore(instrumentation-document-load): update semconv usage to ATTR_ exports (#3047)
  packages/instrumentation-document-load/package.json
  packages/instrumentation-document-load/src/instrumentation.ts
  packages/instrumentation-document-load/src/semconv.ts
  packages/instrumentation-document-load/test/documentLoad.test.ts
Due: instrumentation-document-load

chore(instrumentation-net): update semconv usage to ATTR_ exports
  packages/instrumentation-net/package.json
  packages/instrumentation-net/src/instrumentation.ts
  packages/instrumentation-net/src/semconv.ts
  packages/instrumentation-net/src/utils.ts
  packages/instrumentation-net/test/connect.test.ts
  packages/instrumentation-net/test/utils.ts
Due: instrumentation-net

chore(resource-detector-container): update semconv usage to ATTR_ exports (#3044)
  packages/resource-detector-container/package.json
  packages/resource-detector-container/src/detectors/ContainerDetector.ts
  packages/resource-detector-container/src/semconv.ts
Due: resource-detector-container

comment tweak
  packages/instrumentation-net/src/utils.ts
Due: instrumentation-net

chore(instrumentation-mongodb): update semconv usage to ATTR_ exports
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongodb/src/instrumentation.ts
  packages/instrumentation-mongodb/src/semconv.ts
  packages/instrumentation-mongodb/test/mongodb-v3.test.ts
  packages/instrumentation-mongodb/test/mongodb-v4.test.ts
  packages/instrumentation-mongodb/test/mongodb-v5-v6.test.ts
  packages/instrumentation-mongodb/test/utils.ts
Due: instrumentation-mongodb

chore(instrumentation-cassandra-driver): update semconv usage to ATTR_ exports
  packages/instrumentation-cassandra-driver/src/instrumentation.ts
  packages/instrumentation-cassandra-driver/src/semconv.ts
  packages/instrumentation-cassandra-driver/test/cassandra-driver.test.ts
Due: instrumentation-cassandra-driver

move sem-conv dep to devDeps now that it is only used in tests
  packages/instrumentation-cassandra-driver/package.json
Due: instrumentation-cassandra-driver

chore(instrumentation-ioredis): update semconv usage to ATTR_ exports
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-ioredis/src/instrumentation.ts
  packages/instrumentation-ioredis/src/semconv.ts
  packages/instrumentation-ioredis/test/ioredis.test.ts
Due: instrumentation-ioredis

chore(resource-detector-gcp): update semconv usage to ATTR_ exports
  packages/resource-detector-gcp/package.json
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
  packages/resource-detector-gcp/src/semconv.ts
Due: resource-detector-gcp

chore(contrib-test-utils)!: update semconv usage to ATTR_ exports
  packages/contrib-test-utils/src/instrumentations/index.ts
  packages/contrib-test-utils/src/resource-assertions.ts
  packages/contrib-test-utils/src/semconv.ts
Due: none

chore(instrumentation-mongoose): update semconv usage to ATTR_ exports
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-mongoose/src/mongoose.ts
  packages/instrumentation-mongoose/src/semconv.ts
  packages/instrumentation-mongoose/src/utils.ts
  packages/instrumentation-mongoose/test/asserts.ts
  packages/instrumentation-mongoose/test/mongoose-common.test.ts
  packages/instrumentation-mongoose/test/mongoose-v5-v6.test.ts
  packages/instrumentation-mongoose/test/mongoose-v7-v8.test.ts
Due: instrumentation-mongoose

chore(instrumentation-tedious): update semconv usage to ATTR_ exports (#3053)
  package-lock.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-tedious/src/instrumentation.ts
  packages/instrumentation-tedious/src/semconv.ts
  packages/instrumentation-tedious/test/instrumentation.test.ts
Due: instrumentation-tedious

use incubating entry-point in this test file so can search all ATTR_ consts; exclude from the lint rule for this
  package.json
  packages/contrib-test-utils/src/resource-assertions.ts
  scripts/lint-semconv-deps.mjs
Due: none

chore(instrumentation-net): update semconv usage to ATTR_ exports (#3056)
  packages/instrumentation-net/package.json
  packages/instrumentation-net/src/instrumentation.ts
  packages/instrumentation-net/src/semconv.ts
  packages/instrumentation-net/src/utils.ts
  packages/instrumentation-net/test/connect.test.ts
  packages/instrumentation-net/test/utils.ts
Due: instrumentation-net

chore(resource-detector-gcp): update semconv usage to ATTR_ exports (#3060)
  packages/resource-detector-gcp/package.json
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
  packages/resource-detector-gcp/src/semconv.ts
Due: resource-detector-gcp

chore(instrumentation-aws-lambda): update semconv usage to ATTR_ exports (#3049)
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/src/semconv-obsolete.ts
  packages/instrumentation-aws-lambda/src/semconv.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Due: instrumentation-aws-lambda

chore(instrumentation-mongoose): update semconv usage to ATTR_ exports (#3062)
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-mongoose/src/mongoose.ts
  packages/instrumentation-mongoose/src/semconv.ts
  packages/instrumentation-mongoose/src/utils.ts
  packages/instrumentation-mongoose/test/asserts.ts
  packages/instrumentation-mongoose/test/mongoose-common.test.ts
  packages/instrumentation-mongoose/test/mongoose-v5-v6.test.ts
  packages/instrumentation-mongoose/test/mongoose-v7-v8.test.ts
Due: instrumentation-mongoose

validate `write()` calls in mocked stream
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
Due: instrumentation-aws-lambda

feat(instrumentation-aws-lamda): support streaming handlers
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/src/internal-types.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
  packages/instrumentation-aws-lambda/test/lambda-test/streaming.js
Due: instrumentation-aws-lambda

Path conditions:
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra-driver/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-openai: any of: packages/instrumentation-openai/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-winston: any of: packages/instrumentation-winston/
  plugin-react-load: any of: packages/plugin-react-load/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  redis-common: any of: packages/opentelemetry-redis-common/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-instana: any of: packages/resource-detector-instana/
  sql-common: any of: packages/opentelemetry-sql-common/
  winston-transport: any of: packages/winston-transport/
