Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: winston-transport, contrib-test-utils, sql-common, redis-common, propagation-utils, id-generator-aws-xray, host-metrics, baggage-span-processor, baggage-log-record-processor, instrumentation-winston, instrumentation-router, instrumentation-restify, instrumentation-redis-4, instrumentation-redis, instrumentation-pino, instrumentation-pg, instrumentation-oracledb, instrumentation-net, instrumentation-nestjs-core, instrumentation-mysql2, instrumentation-mysql, instrumentation-mongodb, instrumentation-memcached, instrumentation-koa, instrumentation-knex, instrumentation-ioredis, instrumentation-hapi, instrumentation-graphql, instrumentation-generic-pool, instrumentation-fastify, instrumentation-express, instrumentation-dns, instrumentation-connect, instrumentation-cassandra-driver, instrumentation-bunyan, instrumentation-aws-sdk, instrumentation-aws-lambda, instrumentation-undici, instrumentation-typeorm, instrumentation-tedious, instrumentation-socket.io, instrumentation-runtime-node, instrumentation-mongoose, instrumentation-lru-memoizer, instrumentation-kafkajs, instrumentation-fs, instrumentation-dataloader, instrumentation-cucumber, instrumentation-amqplib, plugin-react-load, instrumentation-user-interaction, instrumentation-long-task, instrumentation-document-load, propagator-aws-xray-lambda, propagator-aws-xray, propagator-ot-trace, propagator-instana, resource-detector-instana, resource-detector-github, resource-detector-gcp, resource-detector-container, resource-detector-azure, resource-detector-aws, resource-detector-alibaba-cloud, auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators

update @opentelemetry/api version compatibility
  package-lock.json
  packages/sampler-aws-xray/README.md
  packages/sampler-aws-xray/package.json
Due: none

update packages/sampler-aws-xray in component_owners
  .github/component_owners.yml
Due: none

fix(resource-detector-aws): remove redundant variable in ECS container ID extraction
  packages/resource-detector-aws/src/detectors/AwsEcsDetector.ts
Due: resource-detector-aws

chore: add openai instrumentation to codecov
  codecov.yml
  packages/instrumentation-openai/package.json
Due: none

same change for the newly added instr-openai as well
  packages/instrumentation-openai/package.json
Due: none

lint:fix (some recent .mjs and .js additions/changes)
  packages/instrumentation-dataloader/test/fixtures/use-dataloader-default-import.mjs
  packages/instrumentation-openai/.eslintrc.js
Due: instrumentation-dataloader

test(undici): avoid flaky tests by implementing mock error endpoint
  packages/instrumentation-undici/test/fetch.test.ts
  packages/instrumentation-undici/test/metrics.test.ts
  packages/instrumentation-undici/test/undici.test.ts
  packages/instrumentation-undici/test/utils/assertSpan.ts
Due: instrumentation-undici

reduce wildcardiness of upload-artifact
  .github/workflows/pr-test.yml
Due: none

chore: release main
  .release-please-manifest.json
  package-lock.json
  packages/auto-instrumentations-node/CHANGELOG.md
  packages/auto-instrumentations-node/package.json
  packages/instrumentation-aws-sdk/CHANGELOG.md
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-cucumber/CHANGELOG.md
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-openai/CHANGELOG.md
  packages/instrumentation-openai/package.json
  packages/instrumentation-pino/CHANGELOG.md
  packages/instrumentation-pino/package.json
Due: instrumentation-pino, instrumentation-aws-sdk, instrumentation-cucumber, auto-instrumentations-node

chore: sync package-lock.json
  package-lock.json
Due: none

feat(instrumentation-langchain): added langchain.js instrumentation package with implementation and tests. Current WIP as tests do not have adequate code coverage
  .github/component_owners.yml
  package-lock.json
  packages/instrumentation-langchain/README.md
  packages/instrumentation-langchain/jest.config.js
  packages/instrumentation-langchain/package.json
  packages/instrumentation-langchain/src/callback-handler.ts
  packages/instrumentation-langchain/src/index.ts
  packages/instrumentation-langchain/src/instrumentation.ts
  packages/instrumentation-langchain/src/instrumentationUtils.ts
  packages/instrumentation-langchain/src/span-attributes.ts
  packages/instrumentation-langchain/test/fixtures.ts
  packages/instrumentation-langchain/test/instrumentationUtils.test.ts
  packages/instrumentation-langchain/test/langchain.test.ts
  packages/instrumentation-langchain/tsconfig.esm.json
  packages/instrumentation-langchain/tsconfig.esnext.json
  packages/instrumentation-langchain/tsconfig.json
  packages/instrumentation-langchain/tsconfig.tsbuildinfo
Due: none

fix(instrumentation-langchain): added private flag to package.json
  packages/instrumentation-langchain/package.json
Due: none

regenerate src/semconv.ts with scripts/gen-semconv-ts.js tool
  packages/instrumentation-aws-sdk/src/semconv.ts
Due: instrumentation-aws-sdk

fix missed conflict in earlier merge
  packages/instrumentation-aws-sdk/src/types.ts
Due: instrumentation-aws-sdk

regenerate src/semconv.ts again (re-ordering and comments)
  packages/instrumentation-aws-sdk/src/semconv.ts
Due: instrumentation-aws-sdk

fix(redis): apply small review fixes
  packages/instrumentation-redis/src/types.ts
  packages/instrumentation-redis/src/v2-v3/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/instrumentation.ts
  packages/instrumentation-redis/test/v4-v5/redis.test.ts
Due: instrumentation-redis

feat(redis): add support for redis v5 (#2950)
  package-lock.json
  packages/instrumentation-redis/.tav.yml
  packages/instrumentation-redis/README.md
  packages/instrumentation-redis/package.json
  packages/instrumentation-redis/src/redis.ts
  packages/instrumentation-redis/src/types.ts
  packages/instrumentation-redis/src/v2-v3/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/instrumentation.ts
  packages/instrumentation-redis/src/v4-v5/internal-types.ts
  packages/instrumentation-redis/src/v4-v5/utils.ts
  packages/instrumentation-redis/test/v2-v3/redis.test.ts
  packages/instrumentation-redis/test/v4-v5/redis.test.ts
  packages/instrumentation-redis/test/v4-v5/utils.ts
  packages/instrumentation-redis/tsconfig.json
Due: instrumentation-redis

feat(aws-sdk)!: SQS receive: use span links instead of processing spans (#2345)
  package-lock.json
  packages/instrumentation-aws-sdk/README.md
  packages/instrumentation-aws-sdk/doc/sqs.md
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-aws-sdk/src/index.ts
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/sqs.ts
  packages/instrumentation-aws-sdk/src/types.ts
  packages/instrumentation-aws-sdk/test/aws-sdk-v3-sqs.test.ts
Due: instrumentation-aws-sdk

chore(instrumentation-amqp): bump @types/amqplib and remove unnecessary casts (#2960)
  package-lock.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-amqplib/src/amqplib.ts
  packages/instrumentation-amqplib/src/utils.ts
  packages/instrumentation-amqplib/test/amqplib-promise.test.ts
  packages/instrumentation-amqplib/test/utils.test.ts
Due: instrumentation-amqplib

feat(instrumentation-aws-sdk): Add semconv attributes for AWS Step Functions
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  packages/instrumentation-aws-sdk/src/services/stepfunctions.ts
  packages/instrumentation-aws-sdk/test/stepfunctions.test.ts
Due: instrumentation-aws-sdk

update package lock file.
  package-lock.json
Due: none

update semconv.ts by using node ../../scripts/gen-semconv-ts.js
  packages/instrumentation-aws-sdk/src/semconv.ts
Due: instrumentation-aws-sdk

feat(instrumentation-aws-sdk): Add semconv attributes for AWS Step Functions (#2977)
  package-lock.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-aws-sdk/src/semconv.ts
  packages/instrumentation-aws-sdk/src/services/ServicesExtensions.ts
  packages/instrumentation-aws-sdk/src/services/stepfunctions.ts
  packages/instrumentation-aws-sdk/test/stepfunctions.test.ts
Due: instrumentation-aws-sdk

fix(instrumentation-langchain): fixed linter issues and updated release-please-config.json to match the suggestion given by rp-validate
  packages/instrumentation-langchain/.eslintignore
  packages/instrumentation-langchain/.eslintrc.js
  packages/instrumentation-langchain/package.json
  packages/instrumentation-langchain/src/callback-handler.ts
  packages/instrumentation-langchain/src/index.ts
  packages/instrumentation-langchain/src/instrumentation.ts
  packages/instrumentation-langchain/src/instrumentationUtils.ts
  packages/instrumentation-langchain/src/span-attributes.ts
  packages/instrumentation-langchain/test/fixtures.ts
  packages/instrumentation-langchain/test/instrumentationUtils.test.ts
  packages/instrumentation-langchain/test/langchain.test.ts
  packages/instrumentation-langchain/tsconfig.esm.json
  packages/instrumentation-langchain/tsconfig.json
  release-please-config.json
Due: none

chore(eslint): remove unused airbnb config
  package-lock.json
  package.json
Due: none

chore(eslint): remove unused airbnb config (#2998)
  package-lock.json
  package.json
Due: none

chore: made test workflow for PRs and push
  .github/workflows/test.yml
  package.json
Due: none

chore: add --no-clean flag for openai tests
  packages/instrumentation-openai/package.json
Due: none

chore: fix commit selection in workflow
  .github/workflows/test.yml
Due: none

chore: remove condition in workflow setps
  .github/workflows/test.yml
Due: none

fix: fix syntax
  .github/workflows/test.yml
Due: none

chore: fix set of env vars for workflow
  .github/workflows/test.yml
Due: none

chore: update cassandra image
  .github/workflows/test.yml
Due: none

chore: update comments
  .github/workflows/test.yml
Due: none

chore: integrated browser tests in unit test jobs
  .github/workflows/test.yml
Due: none

chore: test affected on a browser instrumentation
  packages/instrumentation-user-interaction/package.json
Due: instrumentation-user-interaction

chore: remove obsolete workflow
  .github/workflows/test-all-versions.push.yml
Due: none

chore: alig cassandra image to docker compose file
  .github/workflows/test.yml
Due: none

chore: revert memcached version change
  .github/workflows/test.yml
Due: none

chore: put corre t version of download-artifact action
  .github/workflows/test.yml
Due: none

Path conditions:
  winston-transport: any of: packages/winston-transport/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  sql-common: any of: packages/opentelemetry-sql-common/
  redis-common: any of: packages/opentelemetry-redis-common/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  instrumentation-winston: any of: packages/instrumentation-winston/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-redis-4: any of: packages/instrumentation-redis-4/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  plugin-react-load: any of: packages/plugin-react-load/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  resource-detector-instana: any of: packages/resource-detector-instana/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
