Repository open-telemetry/opentelemetry-js-contrib: changes, and which Codecov flags are due for each by the changed paths.
All: auto-instrumentations-web, auto-instrumentations-node, auto-configuration-propagators, baggage-span-processor, baggage-log-record-processor, contrib-test-utils, host-metrics, id-generator-aws-xray, instrumentation-amqplib, instrumentation-aws-lambda, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cassandra-driver, instrumentation-connect, instrumentation-cucumber, instrumentation-dataloader, instrumentation-dns, instrumentation-document-load, instrumentation-express, instrumentation-fastify, instrumentation-fs, instrumentation-generic-pool, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-knex, instrumentation-koa, instrumentation-long-task, instrumentation-lru-memoizer, instrumentation-memcached, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-net, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-router, instrumentation-runtime-node, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-user-interaction, instrumentation-winston, plugin-react-load, propagation-utils, propagator-aws-xray, propagator-aws-xray-lambda, propagator-instana, propagator-ot-trace, redis-common, resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-github, resource-detector-instana, sql-common, winston-transport

Path conditions:
  auto-instrumentations-web: any of: packages/auto-instrumentations-web/
  auto-instrumentations-node: any of: packages/auto-instrumentations-node/
  auto-configuration-propagators: any of: packages/auto-configuration-packages/
  baggage-span-processor: any of: packages/baggage-span-processor/
  baggage-log-record-processor: any of: packages/baggage-log-record-processor/
  contrib-test-utils: any of: packages/opentelemetry-test-utils/
  host-metrics: any of: packages/opentelemetry-host-metrics/
  id-generator-aws-xray: any of: packages/opentelemetry-id-generator-aws-xray/
  instrumentation-amqplib: any of: packages/instrumentation-amqplib/
  instrumentation-aws-lambda: any of: packages/instrumentation-aws-lambda/
  instrumentation-aws-sdk: any of: packages/instrumentation-aws-sdk/
  instrumentation-bunyan: any of: packages/instrumentation-bunyan/
  instrumentation-cassandra-driver: any of: packages/instrumentation-cassandra-driver/
  instrumentation-connect: any of: packages/instrumentation-connect/
  instrumentation-cucumber: any of: packages/instrumentation-cucumber/
  instrumentation-dataloader: any of: packages/instrumentation-dataloader/
  instrumentation-dns: any of: packages/instrumentation-dns/
  instrumentation-document-load: any of: packages/instrumentation-document-load/
  instrumentation-express: any of: packages/instrumentation-express/
  instrumentation-fastify: any of: packages/instrumentation-fastify/
  instrumentation-fs: any of: packages/instrumentation-fs/
  instrumentation-generic-pool: any of: packages/instrumentation-generic-pool/
  instrumentation-graphql: any of: packages/instrumentation-graphql/
  instrumentation-hapi: any of: packages/instrumentation-hapi/
  instrumentation-ioredis: any of: packages/instrumentation-ioredis/
  instrumentation-kafkajs: any of: packages/instrumentation-kafkajs/
  instrumentation-knex: any of: packages/instrumentation-knex/
  instrumentation-koa: any of: packages/instrumentation-koa/
  instrumentation-long-task: any of: packages/instrumentation-long-task/
  instrumentation-lru-memoizer: any of: packages/instrumentation-lru-memoizer/
  instrumentation-memcached: any of: packages/instrumentation-memcached/
  instrumentation-mongodb: any of: packages/instrumentation-mongodb/
  instrumentation-mongoose: any of: packages/instrumentation-mongoose/
  instrumentation-mysql: any of: packages/instrumentation-mysql/
  instrumentation-mysql2: any of: packages/instrumentation-mysql2/
  instrumentation-nestjs-core: any of: packages/instrumentation-nestjs-core/
  instrumentation-net: any of: packages/instrumentation-net/
  instrumentation-openai: any of: packages/instrumentation-openai/
  instrumentation-oracledb: any of: packages/instrumentation-oracledb/
  instrumentation-pg: any of: packages/instrumentation-pg/
  instrumentation-pino: any of: packages/instrumentation-pino/
  instrumentation-redis: any of: packages/instrumentation-redis/
  instrumentation-restify: any of: packages/instrumentation-restify/
  instrumentation-router: any of: packages/instrumentation-router/
  instrumentation-runtime-node: any of: packages/instrumentation-runtime-node/
  instrumentation-socket.io: any of: packages/instrumentation-socket.io/
  instrumentation-tedious: any of: packages/instrumentation-tedious/
  instrumentation-typeorm: any of: packages/instrumentation-typeorm/
  instrumentation-undici: any of: packages/instrumentation-undici/
  instrumentation-user-interaction: any of: packages/instrumentation-user-interaction/
  instrumentation-winston: any of: packages/instrumentation-winston/
  plugin-react-load: any of: packages/plugin-react-load/
  propagation-utils: any of: packages/opentelemetry-propagation-utils/
  propagator-aws-xray: any of: packages/propagator-aws-xray/
  propagator-aws-xray-lambda: any of: packages/propagator-aws-xray-lambda/
  propagator-instana: any of: packages/opentelemetry-propagator-instana/
  propagator-ot-trace: any of: packages/opentelemetry-propagator-ot-trace/
  redis-common: any of: packages/opentelemetry-redis-common/
  resource-detector-alibaba-cloud: any of: packages/resource-detector-alibaba-cloud/
  resource-detector-aws: any of: packages/resource-detector-aws/
  resource-detector-azure: any of: packages/resource-detector-azure/
  resource-detector-container: any of: packages/resource-detector-container/
  resource-detector-gcp: any of: packages/resource-detector-gcp/
  resource-detector-github: any of: packages/resource-detector-github/
  resource-detector-instana: any of: packages/resource-detector-instana/
  sql-common: any of: packages/opentelemetry-sql-common/
  winston-transport: any of: packages/winston-transport/

add original test-all-versions@6.2.0
  test-all-versions.js
Due: none

test(undici): avoid flaky tests by implementing mock error endpoint
  packages/instrumentation-undici/test/fetch.test.ts
  packages/instrumentation-undici/test/metrics.test.ts
  packages/instrumentation-undici/test/undici.test.ts
  packages/instrumentation-undici/test/utils/assertSpan.ts
Due: instrumentation-undici

attempt running tav in parallel
  package-lock.json
  package.json
  packages/instrumentation-amqplib/package.json
  packages/instrumentation-aws-sdk/package.json
  packages/instrumentation-bunyan/package.json
  packages/instrumentation-cucumber/package.json
  packages/instrumentation-dataloader/package.json
  packages/instrumentation-express/package.json
  packages/instrumentation-fastify/.tav.yml
  packages/instrumentation-fastify/package.json
  packages/instrumentation-graphql/package.json
  packages/instrumentation-hapi/package.json
  packages/instrumentation-ioredis/package.json
  packages/instrumentation-kafkajs/package.json
  packages/instrumentation-koa/package.json
  packages/instrumentation-lru-memoizer/package.json
  packages/instrumentation-mongodb/package.json
  packages/instrumentation-mongoose/package.json
  packages/instrumentation-mysql2/package.json
  packages/instrumentation-nestjs-core/package.json
  packages/instrumentation-openai/package.json
  packages/instrumentation-oracledb/package.json
  packages/instrumentation-pg/package.json
  packages/instrumentation-pino/package.json
  packages/instrumentation-redis/package.json
  packages/instrumentation-restify/package.json
  packages/instrumentation-socket.io/package.json
  packages/instrumentation-tedious/package.json
  packages/instrumentation-typeorm/package.json
  packages/instrumentation-undici/package.json
  packages/instrumentation-winston/package.json
  test-all-versions.js
Due: instrumentation-amqplib, instrumentation-aws-sdk, instrumentation-bunyan, instrumentation-cucumber, instrumentation-dataloader, instrumentation-express, instrumentation-fastify, instrumentation-graphql, instrumentation-hapi, instrumentation-ioredis, instrumentation-kafkajs, instrumentation-koa, instrumentation-lru-memoizer, instrumentation-mongodb, instrumentation-mongoose, instrumentation-mysql2, instrumentation-nestjs-core, instrumentation-openai, instrumentation-oracledb, instrumentation-pg, instrumentation-pino, instrumentation-redis, instrumentation-restify, instrumentation-socket.io, instrumentation-tedious, instrumentation-typeorm, instrumentation-undici, instrumentation-winston

add connection2.db to gitignore
  packages/instrumentation-typeorm/.gitignore
Due: instrumentation-typeorm

Return underlying modules from redis instrumentation
  packages/instrumentation-redis/package.json
  packages/instrumentation-redis/src/redis.ts
  packages/instrumentation-redis/test/redis.test.ts
Due: instrumentation-redis

Add newline
  packages/instrumentation-redis/test/redis.test.ts
Due: instrumentation-redis

chore(instrumentation-pg): skip test if db not running (#3023)
  packages/instrumentation-pg/test/pg-pool.test.ts
  packages/instrumentation-pg/test/pg.test.ts
Due: instrumentation-pg

chore: update undici tests (#3020)
  packages/instrumentation-undici/test/fetch.test.ts
  packages/instrumentation-undici/test/metrics.test.ts
  packages/instrumentation-undici/test/undici.test.ts
Due: instrumentation-undici

chore: release main
  package-lock.json
  packages/resource-detector-alibaba-cloud/package.json
  packages/resource-detector-aws/CHANGELOG.md
  packages/resource-detector-aws/package.json
  packages/resource-detector-azure/CHANGELOG.md
  packages/resource-detector-azure/package.json
  packages/resource-detector-container/CHANGELOG.md
  packages/resource-detector-container/package.json
  packages/resource-detector-gcp/CHANGELOG.md
  packages/resource-detector-gcp/package.json
  packages/resource-detector-instana/CHANGELOG.md
  packages/resource-detector-instana/package.json
  packages/winston-transport/CHANGELOG.md
  packages/winston-transport/package.json
Due: resource-detector-alibaba-cloud, resource-detector-aws, resource-detector-azure, resource-detector-container, resource-detector-gcp, resource-detector-instana, winston-transport

chore: sync package-lock.json
  package-lock.json
Due: none

refactor
  packages/instrumentation-aws-lambda/src/instrumentation.ts
Due: instrumentation-aws-lambda

feat(instrumentation-aws-lamda): support streaming handlers
  packages/instrumentation-aws-lambda/src/instrumentation.ts
  packages/instrumentation-aws-lambda/src/internal-types.ts
  packages/instrumentation-aws-lambda/test/integrations/lambda-handler.test.ts
  packages/instrumentation-aws-lambda/test/lambda-test/streaming.js
Due: instrumentation-aws-lambda

fix(instrumentation-typeorm): trim operation name
  packages/instrumentation-typeorm/src/typeorm.ts
Due: instrumentation-typeorm

chore(instrumentation-openai): add 'license' field to package.json
  packages/instrumentation-openai/package.json
Due: instrumentation-openai

Add permissions
  .github/workflows/pr-review.yml
Due: none

chore(instrumentation-openai): add 'license' field to package.json (#3031)
  packages/instrumentation-openai/package.json
Due: instrumentation-openai

fix(instrumentation-typeorm): trim operation name (#3030)
  packages/instrumentation-typeorm/src/typeorm.ts
Due: instrumentation-typeorm

feat(resource-detector-gcp)!: contribute Google's comprehensive resource detector (#3007)
  package-lock.json
  packages/resource-detector-gcp/package.json
  packages/resource-detector-gcp/src/detectors/GcpDetector.ts
  packages/resource-detector-gcp/src/detectors/faas.ts
  packages/resource-detector-gcp/src/detectors/gae.ts
  packages/resource-detector-gcp/src/detectors/gce.ts
  packages/resource-detector-gcp/src/detectors/gke.ts
  packages/resource-detector-gcp/test/detectors/GcpDetector.test.ts
  packages/resource-detector-gcp/test/detectors/faas.test.ts
  packages/resource-detector-gcp/test/detectors/gae.test.ts
  packages/resource-detector-gcp/test/detectors/gce.test.ts
  packages/resource-detector-gcp/test/detectors/gke.test.ts
Due: resource-detector-gcp

Rebase and fix conclicts
  .github/component-label-map.yml
  .github/component_owners.yml
  .release-please-manifest.json
  examples/web/examples/document-load/index.js
  examples/web/examples/page-view/index.html
  examples/web/examples/page-view/index.js
  examples/web/package.json
  examples/web/webpack.config.js
  package-lock.json
  packages/instrumentation-page-view/.eslintignore
  packages/instrumentation-page-view/.eslintrc.js
  packages/instrumentation-page-view/LICENSE
  packages/instrumentation-page-view/README.md
  packages/instrumentation-page-view/karma.conf.js
  packages/instrumentation-page-view/package.json
  packages/instrumentation-page-view/src/enums/PageTypes.ts
  packages/instrumentation-page-view/src/index.ts
  packages/instrumentation-page-view/src/instrumentation.ts
  packages/instrumentation-page-view/src/types.ts
  packages/instrumentation-page-view/test/index-webpack.ts
  packages/instrumentation-page-view/test/pageView.test.ts
  packages/instrumentation-page-view/tsconfig.esm.json
  packages/instrumentation-page-view/tsconfig.esnext.json
  packages/instrumentation-page-view/tsconfig.json
  packages/instrumentation-page-view/web-test-runner.config.mjs
  packages/instrumentation-typeorm/connection2.db
  release-please-config.json
Due: instrumentation-typeorm

fix failing browser tests
  karma.webpack.js
  packages/instrumentation-page-view/test/pageView.test.ts
Due: none

fix lint and nx not found
  examples/web/examples/document-load/index.js
  package.json
Due: none

fix(instrumentation-socket.io): update to expect v29 import syntax
  packages/instrumentation-socket.io/test/config.test.ts
  packages/instrumentation-socket.io/test/socket.io.test.ts
  packages/instrumentation-socket.io/test/utils.ts
Due: instrumentation-socket.io

fix(instrumentation-dns): resolve TypeScript type mismatches
  packages/instrumentation-dns/test/functionals/dns-disable.test.ts
Due: instrumentation-dns

test(instrumentation-aws-sdk): fix Content-Length headers in nock mocks for Bedrock tests
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-amazon-nova-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-amazon-titan-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-anthropic-claude-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-cohere-command-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-cohere-command-r-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-meta-llama-model-attributes-to-span.json
  packages/instrumentation-aws-sdk/test/mock-responses/bedrock-invokemodel-adds-mistral-ai-model-attributes-to-span.json
Due: instrumentation-aws-sdk

feat(instrumentation-koa): Add support for koa 3
  package-lock.json
  packages/instrumentation-koa/.tav.yml
  packages/instrumentation-koa/README.md
  packages/instrumentation-koa/package.json
  packages/instrumentation-koa/src/instrumentation.ts
  packages/instrumentation-koa/src/utils.ts
  packages/instrumentation-koa/test/koa.test.ts
Due: instrumentation-koa

Update to 3.0.1 for security fix, add recommendation to support <4
  package-lock.json
  packages/instrumentation-koa/.tav.yml
  packages/instrumentation-koa/README.md
  packages/instrumentation-koa/package.json
  packages/instrumentation-koa/src/instrumentation.ts
Due: instrumentation-koa

Revert test changes to support 2.7.0+
  package-lock.json
  packages/instrumentation-koa/.tav.yml
  packages/instrumentation-koa/test/koa.test.ts
Due: instrumentation-koa

fix lint issues
  packages/instrumentation-koa/src/utils.ts
  packages/instrumentation-koa/test/koa.test.ts
Due: instrumentation-koa

chore: upgrade to TypeScript 5.9.2, adjust module resolution for CommonJS
  package-lock.json
  package.json
  tsconfig.base.esm.json
  tsconfig.base.esnext.json
  tsconfig.base.json
Due: none
